<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %></td>
  </tr><tr>
    <th><%= f.label :start_date %> <span class="note">※</span></th>
    <td>
      <%= f.text_field :start_date, :value => l(@item.start_date),
                             :style => 'width: 150px;', :class => 'datepicker' %>
      &nbsp;&nbsp;～&nbsp;&nbsp;
      <%= f.text_field :end_date, :value => l(@item.end_date),
                             :style => 'width: 150px;', :class => 'datepicker' %>
    </td>
    </td>
  </tr>
</table>

<%= creator_form f %>

<%= javascript_tag do -%>

$(document).ready(function () {
  $('input.datepicker').datepicker();
});

<%- end -%>
