<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= safe{@item.status.name} %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :start_date %></th>
    <td>
      <%=l @item.start_date %>&nbsp;&nbsp;～&nbsp;&nbsp;
      <%=l @item.end_date %>
    </td>
  </tr>
</table>

<%= creator_view @item %>
