<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: ;">レイアウト名</th>
    <th style="width: 80px; text-align: right;">並び順</th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 100px; text-align: center;">プレビュー</th>
    <th style="width: 60px; text-align: center;">反映</th>
  </tr>
  
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, { action: :show, id: item.id } %></td>
    <td><%= safe{item.layout.title} %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td style="text-align: center;"><%=l item.layout.updated_at %></td>
    <td style="text-align: center;">
      <% if @node %>
        <%= preview_links(@node.site, @node.preview_uri(params: { layout_id: item.value }),
                                      @node.preview_uri(terminal: :smart_phone, params: { layout_id: item.value }),
                                      @node.preview_uri(terminal: :mobile, params: { layout_id: item.value })) %>
      <% end %>
    </td>
    <td style="text-align: center;">
      <%- if @node -%>
        <%- if @node.layout_id.to_s == item.value.to_s %>
          <span>適用中</span>
        <%- else -%>
          <%= link_to "反映", url_for(action: :change, id: item.id), confirm: "反映してよろしいですか？" %>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
  <% end %>

</table>
