<div class="contentMapNavigations">
  <div id="canvas" style="height: 350px; width: 100%;"></div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{@content.site.google_map_api_key}&region=jp" %>
<%= javascript_include_tag '/_common/modules/map/js/navigations.js' %>
<script type="text/javascript">
$(function() {
  $(window).on('load', function() {
    var marker_list = {};
    <%- @markers.each_with_index do |marker, i| -%>
      marker_list["marker<%= i %>"] = {
        title: '<%==j marker.title %>',
        item_id: "marker<%= i %>",
        lat: <%= marker.latitude.to_f %>,
        lng: <%= marker.longitude.to_f %>,
        icon_url: '<%==j @content.icon_image(marker.icon_category || marker.categories.first, true) %>'
      };
      <%- if marker.doc -%>
      marker_list["marker<%= i %>"]["url"] = "<%==j marker.doc.public_uri %>";
      <%- end -%>
    <%- end -%>

    <%- default_position = default_map_position(@content) -%>
    renderMap(<%= default_position[0].to_f %>, <%= default_position[1].to_f %>, marker_list);
  });
});
</script>
</div>
