<%= render 'menu' %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :node_id %></th>
    <td><%= @item.node.name if @item.node %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :alt_text %></th>
    <td><%= @item.alt_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :size %></th>
    <td><%= @item.eng_unit %><br /><%= @item.image_size if @item.image_file? %></td>
</table>
