<p class="form">基本情報</p>

<table class="show">
  <%- if Core.user.root? -%>
  <tr>
    <th><%=t 'activerecord.models.cms/site' %></th>
    <td><%= render 'cms/admin/_partial/sites/form', f: f, item: @item %></td>
  </tr>
  <%- end -%>
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %></td>
  </tr><tr>
    <th><%= f.label :parent_id %></th>
    <td>
      <%-
      groups_for_option = @item.class.parent_options(Core.site, @item.id)
      groups_for_option = [['(ルート階層)',0]] + groups_for_option if Core.user.root? || @item.persisted?
      -%>
      <%= f.select :parent_id, groups_for_option %>
    </td>
  </tr><tr>
    <th><%= f.label :code %></th>
    <td><%= f.text_field :code, class: 'id' %></td>
  </tr><tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr><tr>
    <th><%= f.label :name_en %></th>
    <td><%= f.text_field :name_en, class: 'nameEn' %> <strong>使用可能文字</strong> 半角英数、「.」、「_」、「-」</td>
  </tr><tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, class: 'number' %></td>
  </tr>
</table>

<p class="form">グループ設定</p>

<table class="show">
  <tr>
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address, class: 'title' %></td>
  </tr><tr>
    <th><%= f.label :tel %></th>
    <td><%= f.text_field :tel, class: 'number' %> <%= f.text_field :tel_attend %></td>
  </tr><tr>
    <th><%= f.label :fax %></th>
    <td><%= f.text_field :fax, class: 'number' %></td>
  </tr><tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email, class: 'email' %></td>
  </tr><tr>
    <th><%= f.label :note %></th>
    <td><%= f.text_field :note, class: 'title' %></td>
  </tr>
</table>
