<div class="crudTree">
<div class="tree">
  <%- if @parent -%>
  <p>
    <%= link_to :show, sys_group_url(@parent.parent_id, @parent) %>
    <%= @parent.name %>
  </p>
  <%- end -%>
  <div class="links">
    <div><%= link_to :up, url_for(:parent => @parent.parent_id) if @parent && @parent.level_no > 1 %></div>
    <%- @groups.each do |group| -%>
      <%= link_to :show, { action: :show, id: group } %>
      <%= link_to h(group.name), { action: :index, parent: group } %>
      <span class="remark"><%= group.sort_no %></span><br />
    <%- end -%>
  </div>
</div>
<div class="content">

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 30%;">ユーザーID</th>
    <th style="width: ;">氏名</th>
    <th style="width: 60px; text-align: center;">状態</th>
  </tr>
  <%- if @parent -%>
    <%- @users.each do |user| -%>
    <tr class="<%= cycle '', 'cycle' %>">
      <td style="text-align: center;"><%= link_to '詳細', sys_group_user_path(@parent, user) %></td>
      <td><%= user.account %></td>
      <td><%= user.name %></td>
      <td style="text-align: center;"><%= safe{user.status.name} %></td>
    </tr>
    <%- end -%>
  <%- end -%>
</table>

</div>
<div class="footer"></div>
</div>
