<%= render 'shared/admin/piece/show' do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :place_id %></th>
    <td><%= @item.place.title if @item.place %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :month_number %></th>
    <td><%= @item.setting_value(:month_number) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :holiday_type_state %></th>
    <td><%= @item.class::HOLIDAY_TYPE_STATE_OPTIONS.detect{|o| o.last == @item.setting_value(:holiday_type_state) }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :holiday_state %></th>
    <td><%= @item.class::HOLIDAY_STATE_OPTIONS.detect{|o| o.last == @item.setting_value(:holiday_state) }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :date_style %></th>
    <td><%= @item.setting_value(:date_style) %></td>
  </tr>
</table>

<p class="form">挿入テキスト</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :lower_text %></th>
  <tr>
  </tr>
    <td><%== @item.setting_value(:lower_text) %></td>
  </tr>
</table>

<%- end -%>
