<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :content_id %></th>
    <td><%= @item.doc&.content&.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :doc_name %></th>
    <td><%= @item.doc&.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>
