<%= form_for :item  do |f| %>
  <%= f.error_messages %>
  <table class="show">
    <tr>
      <th><%= f.label(:site_url) %></th>
      <td><%= f.select :site_url, Tool::ConvertSetting.all.order(:site_url).pluck(:site_url), { include_blank: true } %></td>
    </tr>
    <tr>
      <th><%= f.label(:site_filename) %></th>
      <td><%= select_tag 'item[site_filename]', options_for_select(@item.site_filename_options, @item.site_filename),
                id: 'item_site_filename', include_blank: true, multiple: true, size: 10 %>
    </td>
    </tr>
    <tr>
      <th><%= f.label(:content_id) %></th>
      <td><%= f.select :content_id, GpArticle::Content::Doc.where(site_id: Core.site.id).order(:id).all.map {|c| [ c.name, c.id ] }, { include_blank: true } %></td>
    </tr>
    <tr>
      <th><%= f.label(:creator_group_id) %></th>
      <td><%= f.select :creator_group_id, Core.site.groups_for_option, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label(:overwrite) %></th>
      <td><%= f.collection_radio_buttons :overwrite, @item.class::OVERWRITE_OPTIONS, :last, :first %></td>
    </tr>
    <tr>
      <th><%= f.label(:keep_filename) %></th>
      <td><%= f.collection_radio_buttons :keep_filename, @item.class::KEEP_FILENAME_OPTIONS, :last, :first %></td>
    </tr>
  </table>
  <%= submit "書き込む" %>
<%- end -%>

<%- if @items.size > 0 -%>
<p class="form">書き込み一覧</p>
<table class="index">
  <tr>
    <th class="action_link">詳細</th>
    <th style="text-align: left;"><%= Tool::ConvertImport.human_attribute_name :site_url %></th>
    <th style="text-align: left; width: 160px;"><%= Tool::ConvertImport.human_attribute_name :content_id %></th>
    <th style="text-align: center; width: 60px;"><%= Tool::ConvertImport.human_attribute_name :state %></th>
    <th style="text-align: center; width: 40px;"><%= Tool::ConvertImport.human_attribute_name :total_num %></th>
    <th style="text-align: center; width: 40px;"><%= Tool::ConvertImport.human_attribute_name :created_num %></th>
    <th style="text-align: center; width: 40px;"><%= Tool::ConvertImport.human_attribute_name :updated_num %></th>
    <th style="text-align: center; width: 40px;"><%= Tool::ConvertImport.human_attribute_name :nonupdated_num %></th>
    <th style="text-align: center; width: 40px;"><%= Tool::ConvertImport.human_attribute_name :skipped_num %></th>
    <th style="text-align: center; width: 140px;"><%= Tool::ConvertImport.human_attribute_name :start_at %></th>
    <th style="text-align: center; width: 140px;"><%= Tool::ConvertImport.human_attribute_name :end_at %></th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle('cycle', '') %>">
    <td class="action_link"><%= link_to :show, cms_tool_convert_import_path(item.id) %></td>
    <td style="text-align: left;"><%= item.site_url %></td>
    <td style="text-align: left;"><%= item.content.try(:name) %></td>
    <td style="text-align: center;"><%= item.state_label %></td>
    <td style="text-align: center;"><%= item.total_num %></td>
    <td style="text-align: center;"><%= item.created_num %></td>
    <td style="text-align: center;"><%= item.updated_num %></td>
    <td style="text-align: center;"><%= item.nonupdated_num %></td>
    <td style="text-align: center;"><%= item.skipped_num %></td>
    <td style="text-align: center;"><%=l item.start_at %></td>
    <td style="text-align: center;"><%=l item.end_at %></td>
  </tr>
  <%- end -%>
</table>
<%= paginate @items %>
<%- end -%>

<script type="text/javascript">
$(function() {
  $('#item_site_url').on('change', function(e) {
    $('#item_site_filename').html('<option value="">更新中...</option>');
    $.get('<%= filename_options_cms_tool_convert_imports_path %>', { site_url: $(this).val() }, function(data) {
      $('#item_site_filename').html(data);
    });
  });
});
</script>