<%= f.hidden_field :content_id -%>

<table class="show">
  <tr>
    <th>設定名</th>
    <td><%= @item.config_name %></td>
  </tr>
  <tr>
    <th>設定値</th>
    <td>
      <%- if @item.form_type == :multiple_select -%>
        <div style="margin-bottom: 10px;"><%= label_tag 'groups', 'グループ' %> <%= select_tag 'groups', options_for_select(Core.site.groups_for_option), prompt: '---- 選択してください ----' %></div>
        <div style="float: left;"><%= select_tag 'user_candidates', '<option value=""></option>', multiple: true, style: 'height: 150px; width: 250px;' %></div>
        <div style="float: left; margin: 35px 20px; height: 70px;">
          <div><%= button_to_function '追加 →', "move_option('user_candidates', 'item_value')" %></div>
          <div style="margin-top: 20px;"><%= button_to_function '← 除外', "move_option('item_value', 'user_candidates')" %></div>
        </div>
        <div style="float: left;"><%= value_form(f) %></div>
        <%= javascript_tag do %>
        function move_option(from, to) {
          var selected_ids = $('#' + to + ' > option').map(function (index, item) { return parseInt($(item).val()); });
          $('#' + from + ' > option:selected').each(function (index, item) {
            if (selected_ids.index(parseInt($(item).val())) < 0) {
              $(item).appendTo($('#' + to)).attr('selected', false);
            } else {
              $(item).remove();
            }
          });
        }

        $('#item_value').closest('form').submit(function (e) {
          $('#user_candidates > option').attr('selected', false);
          $('#item_value > option').attr('selected', true);
        });

        $('#groups').on('change', function (event) {
          var group_id = parseInt(event.target.value);
          if (isNaN(group_id)) {
            $('#user_candidates').html('<option value=""></option>');
          } else {
            $('#user_candidates').html('<option value="">更新中...</option>');
            $.get('<%= sys_group_users_path(parent: 'PARENT') %>?options=true'.replace('PARENT', group_id), function (data) {
              $('#user_candidates').html(data);
            });
          }
        });
        <% end %>
      <%- else -%>
        <div style="margin: 5px; line-height: 1.2;"><%= @item.upper_text %></div>
        <%- if @item.config[:comment_upper] == 'doc_style_tags' -%>
        <%= link_to '置き換えテキストを確認する', '#', id: 'show_dialog' %><br />
        <%- else -%>
        <%= @item.config[:comment_upper] %>
        <%- end -%>
        <%= value_form(f) %><span style="margin-left: 10px;"><%= @item.config[:comment] %></span>
        <div style="margin: 5px; line-height: 1.2;"><%= @item.lower_text %></div>
      <%- end -%>
    </td>
  </tr>
</table>
<%= javascript_tag do %>
$(function() {
  $('#show_dialog').on('click', function() {
    $('#doc_style_tags').dialog({width: 400});
    return false;
  });
});
<% end %>


<%- if @item.name == 'alist_style' -%>
<table class="show">
  <tr>
    <th>タグ</th>
    <td><%= select_tag :wrapper_tag, options_for_select(GpArticle::Content::Doc::WRAPPER_TAG_OPTIONS, @item.extra_values[:wrapper_tag]) %></td>
  </tr>
</table>
<%- end -%>


<%= render 'feed/admin/shared/doc_style_tags' %>
