<% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th>公開URL</th>
    <td><%= link_to @item.public_full_uri, @item.public_full_uri, target: '_blank' if @item.name.present? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :concept_id %></th>
    <td>
      <% if @item.concept %>
        <%= @item.concept.name %>
      <% elsif @item.inherited_concept %>
        （<%= @item.inherited_concept(:name) %>）
      <% end %>
    </td>
  </tr>
  <%= layout_view @item, container: :tr %>
  <tr>
    <th><%= @item.class.human_attribute_name :content_id %></th>
    <td><%= @item.content_name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :model %></th>
    <td><%= @item.content_model_name(:short) %></td>
  </tr>
  <% if @item.parent_id != 0 %>
  <tr>
    <th><%= @item.class.human_attribute_name :parent_id %></th>
    <td><%= @item.parent.title if @item.parent %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :route_id %></th>
    <td><%= @item.bread_crumbs.to_links.gsub(/<[\/a].*?>/, '').html_safe %></td>
  </tr>
  <% end %>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sitemap_state %></th>
    <td><%= @item.sitemap_state_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sitemap_sort_no %></th>
    <td><%= @item.sitemap_sort_no %></td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
