<p class="form">基本設定</p>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :target_type %></th>
    <td>
      <%= f.collection_radio_buttons :target_type, @item.class.target_type_options, :last, :first %>
      <span style="margin-left: 10px;">/<%= f.text_field :target_location, class: 'nameEn' %></span>
    </td>
  </tr>
  <tr>
    <th><%= f.label :basic_auth %></th>
    <td>
      <%= f.text_area :basic_auth, rows: 5 %>
      <div>※改行で複数記述、ユーザー名とパスワードをコンマ区切り</div>
    </td>
  </tr>
  <tr>
    <th><%= f.label :ip_order %></th>
    <td><%= f.collection_radio_buttons :ip_order, @item.class.ip_order_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :ip %></th>
    <td>
      <%= f.text_area :ip, rows: 5 %>
      <div>※改行で複数記述</div>
    </td>
  </tr>
</table>

<%= creator_form f %>
