<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :id %></th>
    <td><%= @item.id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :created_at %></th>
    <td><%=l @item.created_at %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :answered_url %></th>
    <td><%= link_to @item.answered_url_title, @item.answered_full_uri, target: 'preview' %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :remote_addr %></th>
    <td><%= @item.remote_addr %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :user_agent %></th>
    <td><%= @item.user_agent %></td>
  </tr>
</table>

<p class="form">回答</p>

<table class="show">
  <%- @item.answers.each do |answer| -%>
  <tr>
    <th><%= answer.question.title if answer.question %></th>
    <td>
      <%- if answer.attachment -%>
        <%= link_to answer.content, { do: :download, answer_id: answer.id } %>
      <%- else -%>
        <%=hbr answer.content %>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
</table>
