<%-
return '' unless node.sitemap_visible?
css_class += [File.basename(node.name.to_s, '.*').camelize(:lower)]
-%>
<li class="level<%= level %> <%= css_class.join('-') %>">
  <%= link_to node.title, node.public_uri, class: "level#{level}" %>

  <%- if node.model !~ /^Cms::/ -%>
    <%- names = node.model.split('::').map(&:underscore)
        path = "#{names[0]}/public/sitemap/#{names[1].to_s.pluralize}" -%>
    <%- if lookup_context.exists?('index', path, true) -%>
      <%= render "#{path}/index", node: node, css_class: css_class, level: level %>
    <%- end -%>
  <%- end -%>

  <%- if (children = node.public_children_for_sitemap).present? -%>
  <ul class="level<%= level + 1 %> <%= css_class.join('-') %>">
    <%= render partial: 'node', collection: children, locals: { level: level + 1, css_class: css_class } %>
  </ul>
  <%- end -%>
</li>
