<%-
  return '' unless node.sitemap_visible?
  css_class = "#{css_class + '-' if css_class.present?}#{File.basename(node.name.to_s, '.*').camelize(:lower)}"
-%>
<li class="level<%= level %> <%= css_class %>">
  <%= link_to node.title, node.public_uri, class: "level#{level}" %>

  <%- case node.model -%>
  <%- when 'GpCategory::CategoryType' -%>
    <%- category_types = node.content.public_category_types.where(sitemap_state: 'visible')
                             .preload_assocs(
                               :public_node_ancestors_assocs, 
                               :public_root_categories_and_public_descendants_and_public_node_ancestors_assocs)
    -%>
    <%- if category_types.present? -%>
    <ul class="level<%= level + 1 %> <%= css_class %>">
      <%= render partial: 'category_type', collection: category_types, locals: {level: level + 1, css_class: css_class} %>
    </ul>
    <%- end -%>

  <%- when 'Organization::Group' -%>
    <%- groups = node.content.public_top_layer_groups.where(sitemap_state: 'visible') -%>
    <%- if groups.present? -%>
    <ul class="level<%= level + 1 %> <%= css_class %>">
      <%= render partial: 'organization_group', collection: groups, locals: {level: level + 1, css_class: css_class} %>
    </ul>
    <%- end -%>

  <%- when 'Survey::Form' -%>
    <%- forms = node.content.public_forms.where(sitemap_state: 'visible') -%>
    <%- if forms.present? -%>
    <ul class="level<%= level + 1 %> <%= css_class %>">
      <%= render partial: 'survey_form', collection: forms, locals: {level: level + 1, css_class: css_class} %>
    </ul>
    <%- end -%>

  <%- when 'Gnav::MenuItem' -%>
    <%- menu_items = node.content.menu_items.where(sitemap_state: 'visible')
                         .preload_assocs(:public_node_ancestors_assocs) -%>
    <%- if menu_items.present? -%>
    <ul class="level<%= level + 1 %> <%= css_class %>">
      <%= render partial: 'gnav_menu_item', collection: menu_items, locals: {level: level + 1, css_class: css_class} %>
    </ul>
    <%- end -%>

  <%- end -%>

  <%- if (children = node.public_children_in_route.where(sitemap_state: 'visible')).present? -%>
  <ul class="level<%= level + 1 %> <%= css_class %>">
    <%= render partial: 'node', collection: children, locals: {level: level + 1, css_class: css_class} %>
  </ul>
  <%- end -%>
</li>
