<h2>スタイルシート</h2>

<div class="navi">
  <%-
  dirs = (@current || @parent).path_from_themes_root.split('/')
  dirs = dirs.map.with_index do |n, idx|
    [n, dirs.slice(0, idx + 1).join("/")]
  end
  -%>
  <%= link_to '_themes', { path: nil } %>
  <%- dirs.each do |n, p| -%>
  <span class="separator">&gt;</span> <%= link_to n, { path: p } %>
  <%- end -%>
</div>

<div class="actionMenu">
<%- case @do -%>
<%- when 'index', 'create' -%>
  <%= link_to '上へ', { path: @parent.path_from_themes_root } unless @item.themes_root_path? %>
  <%- if @item.creatable? -%>
  <a href="#" id="newDir">新規ディレクトリ</a>
  <a href="#" id="newFile">新規ファイル</a>
  <a href="#" id="newUpload">アップロード</a>
  <%- end -%>
<%- when 'show' -%>
  <%= link_to :index, { path: @parent.path_from_themes_root } %>
  <%= link_to :edit, { path: @item.path_from_themes_root, do: :edit } if @item.editable? %>
  <%= link_to '移動', { path: @item.path_from_themes_root, do: :move }  if @item.editable? %>
  <%= link_to :destroy, { path: @item.path_from_themes_root, do: :destroy }, confirm: '削除してよろしいですか？'  if @item.deletable? %>
<%- when 'edit', 'update' -%>
  <%= link_to :index, { path: @parent.path_from_themes_root } %>
  <%= link_to :show, { path: @item.path_from_themes_root, do: :show } %>
<%- end -%>
</div>
