<%= form_for :item, url: "?do=move", html: { method: :patch } do |f| %>
  <%= error_messages_for :item %>
  <p class="form">移動</p>

  <table class="show">
    <tr>
      <th>パス</th>
      <td>/_themes/<%= f.text_field :base_dir, value: File.dirname(@item.path_from_themes_root || '').to_s.sub(/^\./, ''), class: "nameEn", style: "width: 500px;" %></td>
    </tr>
    <tr>
      <th>ファイル名</th>
      <td><%= f.text_field :name, class: "nameEn", style: "width: 500px;" %></td>
    </tr>
  </table>

  <%= submit :edit %>
<%- end -%>
