<%= page_entries_info @items -%>

<table class="index">
  <tr>
    <th class="action_link">詳細</th>
    <th><%= AdBanner::Group.human_attribute_name :name %></th>
    <th><%= AdBanner::Group.human_attribute_name :title %></th>
    <th><%= AdBanner::Group.human_attribute_name :sort_no %></th>
    <th><%= AdBanner::Group.human_attribute_name :updated_at %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td class="action_link"><%= link_to :show, { action: :show, id: item } %></td>
    <td style="text-align: left;"><%= item.name %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: right; width: 100px;"><%= item.sort_no %></td>
    <td style="text-align: left; width: 150px;"><%=l item.updated_at %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
