<!-- skip reading -->
<div id="cmsPreviewMark">
<span class="previewMessage" onclick="document.getElementById('cmsPreviewMark').style.display='none';">
プレビュー：&nbsp;終了する場合は、ブラウザのタブの×で閉じてください。
</span>
<%-
terminals =  [['PC','']]
terminals << ['スマホ','s'] if Core.site.use_smart_phone_feature?
terminals << ['携帯','m'] if Core.site.use_mobile_feature?
-%>
<span class="previewSetting">
  <%= form_tag url_for(path: params[:path]), method: :get, id: 'cmsPreviewForm' do -%>
    <%- queries = params.to_unsafe_h.except(:controller, :action, :site, :path, :query_string, :preview_terminal, :talk_order) -%>
    <%= hidden_field_tag :query_string, queries.to_query %>
    <%- if Core.site.use_datetime_preview? || terminals.size >= 2 -%>
      <%- if Core.site.use_datetime_preview? -%>
        <%= text_field_tag :preview_at, l(Page.preview_at), class: 'datetimepicker', placeholder: 'プレビュー日時' %>
      <%- end -%>
      <%- terminals.each do |name, value| -%>
        <%= radio_button_tag :preview_terminal, value, value == Page.preview_terminal %><%= label_tag "preview_terminal_#{value}", name %>
      <%- end -%>
      <%= submit_tag '設定' %>
      <span class="separator">|</span>
    <%- end -%>
    <%= submit_tag '読み上げ順序確認', params.key?(:talk_order) ? { class: 'current' } : { name: :talk_order } %>
  <%- end -%>

  <%- unless Page.mobile? -%>
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    flatpickr('input.datetimepicker', {
      locale: "ja",
      enableTime: true,
      time_24hr: true,
      plugins: [new scrollPlugin({})]
    });
  });
  </script>
  <%- end -%>
</span>
</div>
<!-- /skip reading -->
