<!-- skip reading -->
<div id="cmsPreviewMark">
<span class="previewMessage" onclick="document.getElementById('cmsPreviewMark').style.display='none';">
プレビュー：&nbsp;終了する場合は、ブラウザのタブの×で閉じてください。
</span>
<%-
terminals =  [['PC','']]
terminals << ['スマホ','s'] if Core.site.use_smart_phone_feature?
terminals << ['携帯','m'] if Core.site.use_mobile_feature?
-%>
<%- if terminals.size > 1 || Core.site.use_datetime_preview? -%>
  <span class="previewSetting">
  <%= form_tag url_for(path: params[:path]), method: :get, id: 'cmsPreviewForm' do -%>
    <%= hidden_field_tag :query_string, request.query_string %>
    <%- if Core.site.use_datetime_preview? -%>
      <%= text_field_tag :preview_at, l(Page.preview_at), class: 'datetimepicker', placeholder: 'プレビュー日時' %>
    <%- end -%>
    <%- if terminals.size == 1 -%>
      <%= hidden_field_tag :preview_terminal, Page.preview_terminal %>
    <%- else -%>
      <%- terminals.each do |name, value| -%>
        <%= radio_button_tag :preview_terminal, value, value == Page.preview_terminal %><%= label_tag "preview_terminal_#{value}", name %>
      <%- end -%>
    <%- end -%>
    <%= submit_tag '設定' %>
  <%- end -%>

  <%- unless Page.mobile? -%>
  <%= javascript_tag do -%>
  document.addEventListener('DOMContentLoaded', function() {
    flatpickr('input.datetimepicker', {
      locale: "ja",
      enableTime: true,
      time_24hr: true,
      plugins: [new scrollPlugin({})]
    });
  });
  <%- end -%>
  <%- end -%>
  </span>
<%- end -%>
</div>
<!-- /skip reading -->
