<%= render 'shared/admin/piece/form', f: f do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= GpCategory::CategoryType.model_name.human %></th>
    <td>
      <%-
      category_types_for_option = @item.category_types_for_option
      category_type_ids = @item.visible_category_types.pluck(:id).presence || [nil]
      -%>
      <span id="category_types">
        <%- category_type_ids.each do |category_type_id| -%>
          <span class="category_type">
            <%= select_tag 'category_types[]', options_for_select(category_types_for_option, category_type_id), include_blank: true, id: nil %>
          </span>
        <%- end -%>
      </span>
      <span><%= button_tag '追加', type: 'button', id: "add_category_type" %></span>
    </td>
  </tr>
  <tr>
    <th>リンク先</th>
    <td>
      <%= select_tag :target_node, options_for_select(@item.content.public_nodes.where(model: 'Map::Marker').map {|n| ["#{n.title}（#{n.name}）", n.id]}, @item.target_node.try(:id)) %>
    </td>
  </tr>
</table>

<script type="text/javascript">
$(function() {
  $('#add_category_type').addFields({
    container: '#category_types',
    fields: '.category_type'
  });
});
</script>
<%- end -%>
