<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %> </th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :uri %> </th>
    <td><%= @item.uri %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :entry_count %></th>
    <td><%= @item.entry_count %></td>
  </tr>
</table>

<%= creator_view @item %>
