<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :serial_no %></th>
    <td colspan="3"><%= @item.serial_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :public_full_uri %></th>
    <td colspan="3"><%= link_to_if @item.public_full_uri.present?,
                                   @item.public_full_uri, @item.public_full_uri, target: 'preview' %></td>
  </tr>
  <%- if @item.template && @content.templates.size != 1 -%>
  <tr>
    <th><%= @item.class.human_attribute_name :template_id %></th>
    <td colspan="3"><%= @item.template.title %></td>
  </tr>
  <%- end -%>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
    <th style="width: 110px;">タイトル設定</th>
    <td style="width: 80px;"><%= link_to '開く▼', 'javascript:void(0);', onclick: "$(this).toggleOpen('#title_settings');" %></td>
  </tr>
</table>

<div id="title_settings" style="display: none;">
  <table class="show">
    <tr>
      <th><%= @item.class.human_attribute_name :href %></th>
      <td>
        <%= link_to_unless(@item.target == 'attached_file', @item.href, @item.href, target: '_blank') %>
        <span style="<%= 'margin-left: 10px;' unless @item.href.blank? %>"><%= @item.target_text %></span>
      </td>
    </tr>
    <tr>
      <th><%= @item.class.human_attribute_name :subtitle %></th>
      <td><%=simple_format @item.subtitle %></td>
    </tr>
    <tr>
      <th><%= @item.class.human_attribute_name :summary %></th>
      <td><%=simple_format @item.summary %></td>
    </tr>
    <tr>
      <th><%= @item.class.human_attribute_name :list_image %></th>
      <td><%= @item.list_image %></td>
    </tr>
  </table>
</div>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :body %></th>
  </tr>
</table>

<%- if @item.template -%>
<%= render 'gp_template/admin/shared/show', template: @item.template, template_values: @item.template_values, file_uri: @item.file_base_uri %>
<%- else -%>
<table class="show">
  <tr>
    <td colspan="2" class="cke_editor_wrapper">
      <%= text_area_tag :body, replace_file_path(@item.body, base: @item.file_base_uri), class: 'ckeditor' %>
    </td>
  </tr>
</table>
<%- end -%>

<%- if (links = @item.links.where(linkable_column: %w(body template_values))).present? -%>
<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :body %>に含まれるリンク</th>
    <td>
      <ul>
        <%- links.each do |link| -%>
        <li>
          <%= link.body %> (<%= link_to link.url, replace_file_path_for_link(link.url, base: @item.file_base_uri), target: 'preview' %>)
        </li>
        <%- end -%>
      </ul>
    </td>
  </tr>
</table>
<%- end -%>

<%- if @content.blog_functions_available? -%>
<table class="show">
  <tr>
    <th colspan="2"><%= @item.class.human_attribute_name :body_more %></th>
  </tr>
  <tr>
    <td colspan="2" class="cke_editor_wrapper">
      <%= text_area_tag :body_more, @item.body_more, class: 'ckeditor' %>
    </td>
  </tr>
</table>
<%- end -%>

<%= render 'sys/admin/_partial/files/expanded_view', item: @item, content: @content %>

<p class="form">記事設定</p>

<table class="show">
  <%- @content.category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td><%= @item.categories.where(category_type_id: category_type.id).map(&:title).join(', ') %></td>
  </tr>
  <%- end -%>
  <tr>
    <th><%= @item.class.human_attribute_name :feature_1 %></th>
    <td><%= @item.feature_1_text %></td>
  </tr>
  <%- if @content.tag_related? && @content.tag_content_tag.present? -%>
  <tr>
    <th><%= @item.class.human_attribute_name :raw_tags %></th>
    <td><%= @item.raw_tags %></td>
  </tr>
  <%- end -%>
  <%- if @content.related_doc_enabled? -%>
  <tr>
    <th><%= @item.class.human_attribute_name :related_docs %></th>
    <td>
      <ul>
        <%- @item.related_docs.each do |doc|
          next unless rel_doc = doc.target_doc -%>
        <li><%= rel_doc.title %></li>
        <%- end -%>
      </ul>
    </td>
  </tr>
  <%- end -%>
  <%- if @content.qrcode_related? -%>
  <tr>
    <th><%= @item.class.human_attribute_name :qrcode_state %></th>
    <td><%= @item.qrcode_state_text %></td>
  </tr>
  <%- end -%>
</table>
