<%- if @content.display_dates(:published_at) || @content.display_dates(:updated_at) -%>
<p class="form" style="margin-top: 0;">表示日時設定</p>

<table class="show">
  <%- if @content.display_dates(:published_at) -%>
  <tr>
    <th><%= @item.locale :display_published_at %></th>
    <td><%=l @item.display_published_at if @item.display_published_at %></td>
  </tr>
  <%- end -%>
  <%- if @content.display_dates(:updated_at) -%>
  <tr>
    <th><%= @item.locale :display_updated_at %></th>
    <td><%=l @item.display_updated_at if @item.display_updated_at %></td>
  </tr>
  <%- end -%>
</table>
<%- end -%>

<%= task_view @item %>
