<p class="form" style="margin-top: 0;">基本設定</p>

<table class="show">
  <%= concept_view @item, container: :tr %>
  <%= layout_view @item, container: :tr %>
  <tr>
    <th><%= @item.locale :filename_base %></th>
    <td>
      <%= @item.name %>
      /
      <%= @item.filename_base %>.html
    </td>
  </tr>
  <tr>
    <th>表示端末</th>
    <td>
      <%= @item.locale :terminal_pc_or_smart_phone if @item.terminal_pc_or_smart_phone %>
      <%= @item.locale :terminal_mobile if @item.terminal_mobile %>
    </td>
  </tr>
  <tr>
    <th><%= @item.locale :lang %></th>
    <td><%= @item.lang_text %></td>
  </tr>
</table>

<p class="form">metaタグ（検索エンジン用）</p>

<table class="show">
  <tr>
    <th><%= @item.locale :meta_description %></th>
    <td><%= @item.meta_description.try(:gsub, /(\r\n|\r|\n)/, ' ') %></td>
  </tr>
  <tr>
    <th><%= @item.locale :meta_keywords %></th>
    <td><%= @item.meta_keywords %></td>
  </tr>
</table>

<p class="form">OGP</p>

<table class="show">
  <tr>
    <th><%= @item.locale :og_type %></th>
    <td><%= @item.og_type_text %></td>
  </tr>
  <tr>
    <th><%= @item.locale :og_title %></th>
    <td><%= @item.og_title %></td>
  </tr>
  <tr>
    <th><%= @item.locale :og_description %></th>
    <td><%=simple_format @item.og_description %></td>
  </tr>
  <tr>
    <th><%= @item.locale :og_image %></th>
    <td><%= @item.og_image %></td>
  </tr>
</table>

<%= editable_group_view @item %>
<%= creator_view @item %>
