<table class="show">
  <%- category_types.each do |category_type| -%>
    <tr>
      <th><%= category_type.title %></th>
      <td>
        <span id="categories_<%= category_type.id %>">
          <%- category_ids = @item.in_category_ids[category_type.id.to_s].to_a
              category_ids += [''] unless category_ids.include?('') -%>
          <%- category_ids.each do |cid| -%>
            <span class="category_<%= category_type.id %>">
              <%= select_tag "item[in_category_ids][#{category_type.id}][]", 
                             options_for_select(category_type.categories_for_option, cid), include_blank: true %>
            </span>
          <%- end -%>
        </span>
        <span><%= button_tag '追加', type: 'button', id: "add_category_#{category_type.id}" %></span>
      </td>
    </tr>
  <%- end -%>
</table>

<script type="text/javascript">
$(function() {
  <%- category_types.each do |category_type| -%>
  $("#add_category_<%= category_type.id %>").addFields({
    container: "#categories_<%= category_type.id %>",
    fields: ".category_<%= category_type.id %>"
  });
  <%- end -%>
});
</script>
