<table class="show">
  <%- category_types.each do |category_type| -%>
    <tr>
      <th><%= category_type.title %></th>
      <td>
        <div id="category_type_<%= category_type.id %>_categories">
          <%- category_ids = @item.in_category_ids[category_type.id.to_s].to_a
              category_ids += [''] unless category_ids.include?('') -%>
          <%- category_ids.each do |cid| -%>
            <span>
              <%= select_tag "item[in_category_ids][#{category_type.id}][]", 
                             options_for_select(category_type.categories_for_option, cid), include_blank: true %>
            </span>
          <%- end -%>
          <span><%= button_tag '追加', type: 'button', class: 'gp_category_add_category' %></span>
        </div>
      </td>
    </tr>
  <%- end -%>
</table>

<script type="text/javascript">
$(function() {
  function set_click_event_handler(category_type_id) {
    var wrapper = $('#category_type_' + category_type_id + '_categories');
    wrapper.find('.gp_category_add_category').on('click', function () {
      var new_category = wrapper.children(':first-child').clone(true);
      new_category.find('option').removeAttr('selected');
      new_category.insertBefore(wrapper.children(':last-child')).show();
    });
  }

  <%- category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>');
  <%- end -%>
});
</script>
