<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :more %></th>
    <td><%= @item.more %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<p class="form">条件</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :condition %></th>
    <td><%= @item.condition_name %></td>
  </tr>
  <tr>
    <th>表示カテゴリ</th>
    <td>
      <table class="noDesign">
        <%- @item.categories_with_layer.each do |category_with_layer| -%>
        <tr>
          <td><%= category_with_layer[:category].category_type.title -%></td>
          <td><%= category_with_layer[:category].title %></td>
          <td><%= @item.class::LAYER_OPTIONS.detect{|lo| lo.last == category_with_layer[:layer] }.try(:first) %></td>
        </tr>
        <%- end -%>
      </table>
    </td>
  </tr>
</table>
