<%
map     = item.maps.first
markers = map ? map.markers : []
return unless map
return if map.map_lat.blank? || map.map_lng.blank?
%>
<%- if item.state != 'closed' -%>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{item.site.google_map_api_key}&region=jp&libraries=places" %>
<script type="text/javascript">
//<![CDATA[
function addEvent(element, listener, func) {
  try {
    element.addEventListener(listener, func, false);
  } catch (e) {
    element.attachEvent('on' + listener, func);
  }
}

addEvent(window, 'load', function() {
  var mapOptions = {
    center: new google.maps.LatLng(<%= map.map_lat.to_f %>, <%= map.map_lng.to_f %>),
    zoom: <%= map.map_zoom.to_i %>,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scaleControl: true,
    scrollwheel: false
  };
  var map = new google.maps.Map(document.getElementById("map1"), mapOptions);

  <% markers.each_with_index do |marker, idx| %>
    var marker<%= idx %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= marker.lat.to_f %>, <%= marker.lng.to_f %>),
      map: map
    });

    <%- if item.content.respond_to?(:map_content_marker) && (map_content = item.content.map_content_marker) -%>
    marker<%= idx %>.setIcon('<%==j map_content.icon_image(item.marker_icon_category || item.marker_categories.first) %>');
    <%- end -%>

    var infowindow<%= idx %> = new google.maps.InfoWindow({
      content: '<%==j marker.name.gsub(/\r\n|\r|\n/, "<br />") %>',
      disableAutoPan: false
    });
    google.maps.event.addListener(marker<%= idx %>, 'click', function() {
      infowindow<%= idx %>.open(map, marker<%= idx %>);
    });
  <% end %>
  <%- if item.content.try(:navigation_enabled?) && item.navigation_state_enabled? -%>
    var directionsRenderer;
    var placeIds = [];
    var location = new google.maps.LatLng(<%= map.map_lat.to_f %>, <%= map.map_lng.to_f %>);
    <%- if first_marker = markers.first -%>
    var direction = new google.maps.LatLng(<%= first_marker.lat.to_f %>, <%= first_marker.lng.to_f %>);
    <%- else -%>
    var direction = location;
    <%- end -%>
    <%- item.content.navigation_target_types.each_with_index do |type, n| -%>
      var request<%= n %> = {
        fields: ['place_id', 'name', 'geometry'],
        location: location,
        type: '<%= type %>',
        rankBy: google.maps.places.RankBy.DISTANCE
      }
      var service<%= n %> = new google.maps.places.PlacesService(map);
      service<%= n %>.nearbySearch(request<%= n %>, function(results, status){
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          var target = $('#place');
          for (var i = 0; i < results.length; i++) {
            var place = results[i];
            if ($.inArray(place.place_id, placeIds) == -1 ){
              var opt = $('<option>')
                .val(place.geometry.location.lat() +","+place.geometry.location.lng())
                .text(place.name);
              target.append(opt);
              placeIds.push(place.place_id);
            }
          }
        }
      });
    <%- end -%>
    var defaultOptions = [
      $('<option>').val('').text('出発地を選択'),
      $('<option>').val('click').text('地図をクリック'),
      $('<option>').val('current_position').text('現在地から')
    ];
    var placeList = $('<select>', { id: 'place' });
    placeList.append(defaultOptions);
    placeList.on('change', function(e) {
      var target = $(this).val();
      if (target == '') {
        google.maps.event.clearListeners(map, "click");
        clearNavigation();
      }else if (target == 'click') {
        google.maps.event.addListener(map, "click", function(e) {
          setNavigation(e.latLng);
        });
      } else if (target == 'current_position') {
        google.maps.event.clearListeners(map, "click");
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function(position) {
              var origin = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              setNavigation(origin);
            },
            function(error) {
             switch(error.code) {
               case 1:
                 alert("位置情報の利用が許可されていません");
                 break;
               case 2:
                 alert("現在位置が取得できませんでした");
                 break;
               case 3:
                 alert("タイムアウトしました");
                 break;
               default:
                 alert("Error(code:"+error.code+")");
                 break;
             }
            }
          );
        }
      } else {
        google.maps.event.clearListeners(map, "click");
        var position = target.split(/,/);
        var origin = new google.maps.LatLng(position[0], position[1]);
        setNavigation(origin);
      }
    });
    $('#map1').before(placeList);

    function clearNavigation(){
      if (directionsRenderer != null) {
        directionsRenderer.setMap(null);
      }
    }

    function setNavigation(origin){
      clearNavigation();
      var directionsService = new google.maps.DirectionsService;
      directionsRenderer = new google.maps.DirectionsRenderer;
      directionsService.route({
        origin: origin,
        destination: direction,
        travelMode: google.maps.TravelMode.DRIVING
      }, function(response, status) {
        if (status === google.maps.DirectionsStatus.OK) {
          directionsRenderer.setMap(map);
          directionsRenderer.setDirections(response);
        }
      });
    }

    $("#place").show();
  <%- end -%>
});
//]]>
</script>
<%- end -%>
<div class="maps">
  <h2>地図</h2>
  <% if !map.title.blank? %><h3><%= map.title %></h3><% end %>
  <div id="map1" class="map" style="width: 100%; height: 400px">
  <%- if item.state == 'closed' -%>
    <div style="width: 100%; display: table;">
      <div style="height: 400px; display: table-cell; background-color: #dcdcdc; text-align: center; vertical-align: middle;">
        <span>公開終了状態のため地図は表示されません</span>
      </div>
    </div>
  <%- end -%>
  </div>
</div>