<h2><%= @content.name %><%= @item ? " ： #{@item.sys_group.name}" : '' %> ： <%= Organization::Group.model_name.human %><%=t "actions.#{action_name}", default: '' %></h2>

<%= render 'organization/admin/shared/menu' %>
