<%= render 'shared/admin/content/settings/form', f: f, item: @item -%>

<%= render 'gp_calendar/admin/shared/doc_style_tags' %>
<%= javascript_tag do %>
$(function() {
  $('a.show_dialog').on('click', function() {
    $('#doc_style_tags').dialog({width: 450});
    return false;
  });
});
<% end %>


<%- if @item.name == 'gp_category_content_category_type_id'
      content = GpCategory::Content::CategoryType.find_by_id(@item.value)
      category_types = content.try(:category_types) || []
      category_types_for_option = content.try(:category_types_for_option) || []

      ct_ids = @item.category_type_ids
    -%>
<table class="show">
  <tr>
    <th>利用<%= GpCategory::CategoryType.model_name.human %></th>
    <td id="category_types">
      <%- category_types.each do |ct| -%>
      <span class="category_type">
        <%= check_box_tag "ct_#{ct.id}", ct.id, ct_ids.include?(ct.id), name: 'item[extra_values][category_types][]' -%> <%= label_tag "ct_#{ct.id}", "#{ct.title}(#{ct.name})" -%>
      </span>
      <%- end -%>
    </td>
  </tr>
</table>

<%= javascript_tag do -%>
$(document).ready(function () {
  $('#item_value').on('change', function (event) {
    var content_id = parseInt(event.target.value);
    if (isNaN(content_id)) {
      $('#category_types').html('');
    } else {
      $('#category_types').html('更新中...');
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?check_boxes=true'.replace('CONTENT_ID', content_id), function (data) {
        $('#category_types').html(
          data.replace(/category_types\[\]/g, 'item[extra_values][category_types][]')
        );
      });
    }
  });

  $('#category_types input[type="checkbox"]').on('click', function (event) {
    if (!event.target.checked) { $('#' + event.target.id.replace('ct_', 'vct_')).removeAttr('checked'); }
  });
});
<%- end -%>
<%- end -%>


<%- if @item.name == 'event_sync_import' -%>
<table class="show">
  <tr>
    <th>イベント同期元ホスト</th>
    <td>
      <%= text_field_tag 'item[extra_values][source_hosts]', @item.extra_values[:source_hosts], style: 'width: 400px;' %>
      （例 example.com,example.net,example.org ）
    </td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'event_sync_export' -%>
<table class="show">
  <tr>
    <th>イベント同期先ホスト</th>
    <td>
      <%= text_field_tag 'item[extra_values][destination_hosts]', @item.extra_values[:destination_hosts], style: 'width: 400px;' %>
      （例 example.com,example.net,example.org ）
    </td>
  </tr>
  <tr>
    <th>イベント同期初期値</th>
    <td><%= select_tag 'item[extra_values][default_will_sync]',
                       options_for_select(GpCalendar::Event::WILL_SYNC_OPTIONS,
                                          (@item.extra_values[:default_will_sync] || 'disabled')),
                       include_blank: true %></td>
  </tr>
</table>
<%- end -%>
