<h2><%= @content.name %> ： <%= Gnav::MenuItem.model_name.human %><%=t "actions.#{action_name}", default: '' %></h2>


<div class="actionMenu">
  <%= action_menu :new if Core.user.has_auth?(:designer) && Core.user.has_priv?(:create, item: Core.concept) %>
  <%= action_menu :index %>
  <%= action_menu :show %>
  <%= action_menu :edit if @item.try(:editable?) %>
  <%= action_menu :destroy if @item.try(:deletable?) %>
</div>
