<%= render 'cms/admin/tool/convert/menu' %>

<%- if @item.path != ::Tool::Convert::SITE_BASE_DIR -%>
<div class="navi">
  <%= @item.relative_path_from(::Tool::Convert::SITE_BASE_DIR) %>
</div>
<%- end -%>

<div class="actionMenu">
<%- case @do -%>
<%- when 'index' -%>
  <%- if @item.path != ::Tool::Convert::SITE_BASE_DIR -%>
    <%= link_to '上へ', { path: @item.parent.relative_path_from(::Tool::Convert::SITE_BASE_DIR) } %>
  <%- end -%>
<%- when 'show' -%>
  <%- parent = @item.directory_entry? ? @item : @item.parent -%>
  <%= link_to :index, { path: parent.relative_path_from(::Tool::Convert::SITE_BASE_DIR) } %>
  <%= link_to :destroy, { path: parent.relative_path_from(::Tool::Convert::SITE_BASE_DIR), do: :destroy }, method: :delete, confirm: '削除してよろしいですか？' %>
<%- end -%>
</div>
