<%- return '' unless defined?(template) && defined?(template_values) -%>

<%- template.items.public_state.each do |item|
  
  is_error = false
  if @item.errors.messages.include?(:base) && @item.errors.messages[:base].join(',') =~ /#{item.title}を/
    is_error = true
  end

-%>
  <%- if item.item_type == 'rich_text' -%>
  <table class="show">
    <tr>
      <th>
        <div class="<%= 'field_with_errors' if is_error %>">
          <%= item.title %>
        </div>
        <% if item.required? %><span class="note">※</span><% end %>
      </th>
    </tr>
    <tr>
      <td class="cke_editor_wrapper">
        <div class="<%= 'field_with_errors' if is_error %>">
        <%= text_area_tag "item[template_values][#{item.name}]", template_values[item.name], style: item.style_attribute, class: 'body' %>
        </div>
      </td>
    </tr>
  </table>
  <script>
    CKEDITOR.replace('item_template_values_<%= item.name %>');
  </script>
  <%- else -%>
  <table class="show">
    <tr>
      <th>
        <div class="<%= 'field_with_errors' if is_error %>">
          <%= item.title %>
        </div>
        <% if item.required? %><span class="note">※</span><% end %>
      </th>
      <td>
        <div class="<%= 'field_with_errors' if is_error %>">
        <%- case item.item_type -%>
        <%- when 'text_field' -%>
          <%= text_field_tag "item[template_values][#{item.name}]", template_values[item.name], style: item.style_attribute %>
        <%- when 'text_area' -%>
          <%= text_area_tag "item[template_values][#{item.name}]", template_values[item.name], style: item.style_attribute, class: 'body' %>
        <%- when 'select' -%>
          <%= select_tag "item[template_values][#{item.name}]",
                         options_for_select(item.item_options_for_select, template_values[item.name]), style: item.style_attribute,
                         include_blank: true %>
        <%- when 'radio_button' -%>
          <%- item.item_options_for_select.each do |option| -%>
            <label><%= radio_button_tag "item[template_values][#{item.name}]", option,
                                        option == template_values[item.name], style: item.style_attribute %> <%= option %></label>
          <%- end -%>
        <%- when 'attachment_file' -%>
          <%= text_field_tag "item[template_values][#{item.name}]", template_values[item.name], style: item.style_attribute %>
        <%- end -%>
        </div>
      </td>
    </tr>
  </table>
  <%- end -%>
<%- end -%>
