<%- if @content.gp_calendar_content_event -%>
<div>
  <div class="label1"><%= f.label :event_state %></div>
  <%= f.collection_radio_buttons :event_state, @item.class.event_state_options, :last, :first %>
</div>
<%- end -%>
<div>
  <div class="label1"><%= f.label :periods %></div>
  <div id="event_periods">
    <%- @item.periods.build if @item.periods.blank? -%>
    <%= f.fields_for :periods do |f2| %>
      <div class="event_period" style="margin: 5px 0;">
        <%= f2.text_field :started_on, value: l(f2.object.started_on), style: 'width: 150px;', class: 'datepicker' %>
        <span>～</span>
        <%= f2.text_field :ended_on, value: l(f2.object.ended_on), style: 'width: 150px;', class: 'datepicker' %>
      </div>
    <%- end -%>
  </div>
  <button type="button" id="add_event_period">追加</button>
</div>
<%- @content.event_category_types.each do |category_type| -%>
<div>
  <div class="label1"><%= category_type.title %></div>
  <span id="event_categories_<%= category_type.id %>">
    <%- category_ids = @item.in_event_category_ids[category_type.id.to_s].to_a
        category_ids += [''] unless category_ids.include?('') -%>
    <%- category_ids.each do |cid| -%>
      <span class="event_category_<%= category_type.id %>">
        <%= select_tag "item[in_event_category_ids][#{category_type.id}][]", 
                       options_for_select(category_type.categories_for_option, cid), include_blank: true %>
      </span>
    <%- end -%>
  </span>
  <span><%= button_tag '追加', type: 'button', id: "add_event_category_#{category_type.id}" %></span>
</div>
<%- end -%>
<div>
  <div class="label1"><%= f.label :event_note %></div>
  <%= f.text_area :event_note, size: '100x3' %>
</div>

<script type="text/javascript">
$(function() {
  <%- @content.event_category_types.each do |category_type| -%>
  $("#add_event_category_<%= category_type.id %>").addFields({
    container: "#event_categories_<%= category_type.id %>",
    fields: ".event_category_<%= category_type.id %>"
  });
  <%- end -%>
});
</script>

<script type="text/javascript">
$(function() {
  $("#add_event_period").addFields({
    container: "#event_periods",
    fields: ".event_period",
    cloneEvents: false,
    afterAdd: function(elem) {
      elem.find('input.datepicker')
          .removeClass('hasDatepicker')
          .datepicker();
    }
  });

  $(document).on('change', '#event_periods input.datepicker', function(e) {
    var from = $(this);
    var toID = from.attr('id');
    if (toID.match(/_started_on$/)) {
      toID = toID.replace(/_started_on$/, '_ended_on')
    } else {
      toID = toID.replace(/_ended_on$/, '_started_on');
    }

    var to = $('#' + toID);
    if (to.val() === '') { to.val($(from).val()); }
  });
});
</script>
