<table class="show">
  <%- if @content.map_content_marker -%>
  <tr>
    <th><%= f.label :marker_state %></th>
    <td><%= f.radio_buttons :marker_state, @item.class::MARKER_STATE_OPTIONS %></td>
  </tr>
    <%- if @content.marker_icon_category_enabled?-%>
    <tr>
      <th><%= f.label :marker_icon_category_id %></th>
      <td><%= f.select :marker_icon_category_id, options_for_select(@content.map_content_marker.icon_categories_for_option,
                                                                    @item.marker_icon_category_id),
                                                 include_blank: true %></td>
    </tr>
    <%- end -%>
  <%- end -%>
  <%- @content.marker_category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td>
      <div id="marker_category_type_<%= category_type.id %>_categories">
        <%- category_ids = @item.in_marker_category_ids[category_type.id.to_s].to_a
            category_ids += [''] unless category_ids.include?('') -%>
        <%- category_ids.each do |cid| -%>
          <span>
            <%= select_tag "item[in_marker_category_ids][#{category_type.id}][]", 
                           options_for_select(@content.marker_category_type_categories_for_option(category_type), cid), include_blank: true %>
          </span>
        <%- end -%>
        <span><%= button_tag '追加', type: 'button', class: 'add_category' %></span>
      </div>
    </td>
  </tr>
  <%- end -%>
</table>

<%= google_map_form f %>
