<table class="show">
  <%- if @content.map_content_marker -%>
    <tr>
      <th><%= f.label :marker_state %></th>
      <td><%= f.collection_radio_buttons :marker_state, @item.class.marker_state_options, :last, :first %></td>
    </tr>
    <tr>
      <th><%= f.label :marker_sort_no %></th>
      <td><%= f.text_field :marker_sort_no, class: 'number' %></td>
    </tr>
  <%- end -%>
  <%- @content.marker_category_types.each do |category_type| -%>
  <tr>
    <th><%= category_type.title %></th>
    <td>
      <span id="marker_categories_<%= category_type.id %>">
        <%- category_ids = @item.in_marker_category_ids[category_type.id.to_s].to_a
            category_ids += [''] unless category_ids.include?('') -%>
        <%- category_ids.each do |cid| -%>
          <span class="marker_category_<%= category_type.id %>">
            <%= select_tag "item[in_marker_category_ids][#{category_type.id}][]",
                           options_for_select(@content.marker_category_type_categories_for_option(category_type), cid), include_blank: true %>
          </span>
        <%- end -%>
      </span>
      <span><%= button_tag '追加', type: 'button', id: "add_marker_category_#{category_type.id}" %></span>
    </td>
  </tr>
  <%- end -%>
  <%- if @content.navigation_enabled? -%>
    <tr>
      <th><%= f.label :navigation_state %></th>
      <td><%= f.collection_radio_buttons :navigation_state, @item.class.navigation_state_options, :last, :first %></td>
    </tr>
  <%- end -%>
</table>

<%= google_map_form f %>

<script type="text/javascript">
$(function() {
  <%- @content.marker_category_types.each do |category_type| -%>
  $("#add_marker_category_<%= category_type.id %>").addFields({
    container: "#marker_categories_<%= category_type.id %>",
    fields: ".marker_category_<%= category_type.id %>"
  });
  <%- end -%>
});
</script>
