<h2><%= @content.name %> ： <%= Feed::FeedEntry.model_name.human %><%=t "actions.#{action_name}", default: '' %></h2>

<div class="actionMenu">
  <%= action_menu :index %>
  <%= action_menu :show %>
  <%= action_menu :edit if @item.try(:editable?) %>

  <%- if params[:action] == 'index' -%>
  <%= link_to "エントリ更新", feed_feed_entries_path(do: 'update_entries'), data: { confirm:  "エントリを更新してよろしいですか？" } %>
  <%= link_to "エントリ削除", feed_feed_entries_path(do: 'delete_entries'), data: { confirm:  "エントリを削除してよろしいですか？" } %>
  <%- end -%>
</div>
