<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= yield(:page_title) || Core.title %></title>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/_common/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/_common/favicon.ico" />
  <!--[if lt IE 9]>
  <%= javascript_include_tag '/_common/js/html5.js' %>
  <%= javascript_include_tag '/_common/js/selectivizr.js' %>
  <![endif]-->
  <%= stylesheet_link_tag '/_common/themes/admin/login.css' %>
</head>

<body>
<div id="container">
  <header id="header">
    <div id="headerContainer">
      <h1><img src="/_common/themes/admin/images/header_logo.gif" alt="ZOMEKI"></h1>
    <!-- /#headerContainer --></div>
  <!-- /#header --></header>
  <div id="main">
    <%= yield %>
    <div class="copyright"><small>Copyright &copy; 2012 ZOMEKI All Rights Reserved. <%= image_tag '/_common/themes/admin/images/poweredby.gif', alt: 'Powered By ZOMEKI' %></small></div>
  </div>
</div>

<!--[if lt IE 10]>
<%= javascript_include_tag '/_common/js/jquery.min.js' %>
<%= javascript_include_tag '/_common/js/jquery-migrate.min.js' %>
<%= javascript_include_tag '/_common/js/jquery.placeholder.min.js' %>
<%= javascript_tag do -%>
$(document).ready(function () {
  $('[placeholder]').placeholder().css('color', '#999').focus(function () {
    $(this).css('color', '#000');
  }).blur(function () {
    if($(this).val() == 'ユーザーID' || $(this).val() == 'パスワード' || $(this).val() == 'パスワード確認') {
      $(this).css('color', '#999').focus(function () {
        $(this).css('color', '#000');
      });
    }
  });
});
<%- end -%>
<![endif]-->
</body>
</html>
