<ul class="courses">
<%- courses.each do |course| -%>
  <li>
    <h2 class="title"><%= course.title %></h2>
    <div class="body">
      <h3 class="subtitle"><%=hbr course.subtitle %></h3>
      <div class="summary"><%=raw course.replace_file_path_for_public(course.body) %></div>
      <table class="detail">
        <tbody>
          <tr class="hold_dates">
            <th scope="row">開催日時</th>
            <td>
              <ul>
                <%- course.public_opens.each do |open| -%>
                  <li>
                    <span><%= open.open_at_text %></span>
                    <span class="link">
                      <%- if open.applicable? -%>
                        <%= link_to open.link_state_text, "#{course.public_uri}/applicants/?open_id=#{open.id}" %>
                      <%- else -%>
                        <span><%= open.link_state_text %></span>
                      <%- end -%>
                    </span>
                  </li>
                <%- end -%>
              </ul>
            </td>
          </tr>
          <tr class="total_number">
            <th scope="row">定員</th>
            <td><%= "#{course.capacity} 名" if course.capacity.present? %></td>
          </tr>
          <tr class="charge">
            <th scope="row">受講料</th>
            <td>
              <span><%= "#{course.fee} 円" if course.fee.present? %></span>
              <span><%= course.fee_remark %></span>
            </td>
          </tr>
          <tr class="place">
            <th scope="row">場所</th>
            <td><%=raw course.public_opens.map(&:place).select(&:present?).uniq.map { |p| "<span>#{p}</span>" }.join(', ') %></td>
          </tr>
          <tr class="name">
            <th scope="row">講師</th>
            <td><%=raw course.public_opens.map(&:lecturer).select(&:present?).uniq.map { |l| "<span>#{l}</span>" }.join(', ') %></td>
          </tr>
          <tr class="remarks">
            <th scope="row">備考</th>
            <td><%=raw course.replace_file_path_for_public(course.remark) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
<%- end -%>
</ul>
