<ul class="courses">
<%- courses.each do |course| -%>
  <li>
    <div class="title"><%= course.title %></div>
    <div class="subtitle"><%=br course.subtitle %></div>
    <div class="summary"><%=raw course.replace_file_path_for_public(course.body) %></div>
    <div class="hold_dates">
      <span>開催日時</span>
      <span>
        <ul>
          <%- course.public_opens.each do |open| -%>
            <li>
              <span><%= open.open_at_text %></span>
              <span class="link"><%= link_to_if open.applicable?, open.link_state_text, "#{course.public_uri}/applicants/?open_id=#{open.id}" %></span>
            </li>
          <%- end -%>
        </ul>
      </span>
    </div>
    <div class="total_number">
      <span>定員</span>
      <span><%= "#{course.capacity} 名" if course.capacity.present? %></span>
    </div>
    <div class="charge">
      <span>受講料</span>
      <span>
        <span><%= "#{course.fee} 円" if course.fee.present? %></span>
        <span><%= course.fee_remark %></span>
      </span>
    </div>
    <div class="place">
      <span>場所</span>
      <span><%=raw course.public_opens.map(&:place).select(&:present?).uniq.map { |p| "<span>#{p}</span>" }.join(', ') %></span>
    </div>
    <div class="name">
      <span>講師</span>
      <span><%=raw course.public_opens.map(&:lecturer).select(&:present?).uniq.map { |l| "<span>#{l}</span>" }.join(', ') %></span>
    </div>
    <div class="remarks">
      <span>備考</span>
      <span><%=raw course.replace_file_path_for_public(course.remark) %></span>
    </div>
  </li>
<%- end -%>
</ul>
