<p class="form">Basic認証</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :password %></th>
    <td><%= @item.password %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :target_type %></th>
    <td><%= @item.target_type_text %></td>
  </tr>
  <%-if @item.is_directory? -%>
  <tr>
    <th><%= @item.class.human_attribute_name :target_location %></th>
    <td>/<%= @item.target_location %></td>
  </tr>
  <%- end -%>
</table>

<%= creator_view @item %>
