<p class="form">Basic認証</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:state) %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:password) %></th>
    <td><%= @item.password %></td>
  </tr><tr>
    <th><%= @item.locale(:target_type) %></th>
    <td><%= @item.target_type_label %></td>
  </tr>
  <%-if @item.is_directory? -%>
  <tr>
    <th><%= @item.locale(:target_location) %></th>
    <td>/<%= @item.target_location %></td>
  </tr>
  <%- end -%>
</table>

<%= creator_view @item %>
