<%- @category.preload_public_descendants_and_public_node_ancestors -%>
<%- if @category.public_children.present? -%>
<div class="level<%= @category.level_no + 1 -%>">
  <%- @category.public_children.each do |child| -%>
  <section class="category <%= child.name -%><%= cycle '', ' cycle' %>">
    <h3><%= link_to child.title, child.public_uri %></h3>

    <%- if child.public_children.present? && @piece.layer == 'descendants' -%>
    <%= render 'categories', category: child %>
    <%- end -%>
  </section>
  <%- end -%>
</div>
<%- end -%>
