<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :date %></th>
    <td><%=l @item.date, format: (@item.repeat ? '* %m月%d日': '%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :kind %></th>
    <td><%= @item.kind_text %></td>
  </tr>
</table>

<%= creator_view @item %>
