<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th class="action_link">詳細</th>
    <th><%= Survey::Question.human_attribute_name :title %></th>
    <th><%= Survey::Question.human_attribute_name :form_type %></th>
    <th><%= Survey::Question.human_attribute_name :required %></th>
    <th style="text-align: center; width: 80px;"><%= Survey::Question.human_attribute_name :sort_no %></th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td class="action_link"><%= link_to :show, { action: :show, id: item } %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.form_type_text %></td>
    <td style="text-align: left;"><%= item.required_text %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
