<%= render 'shared/admin/piece/form', f: f do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= f.label :list_count %></th>
    <td><%= f.array_text_field 'in_settings[list_count]', class: 'number' %></td>
  </tr>
  <tr>
    <th><%= f.label :date_style %></th>
    <td colspan="3"><%= f.array_text_field 'in_settings[date_style]', size: 50 %> <%=raw t('comments.date_style') %></td>
  </tr>
  <tr>
    <th><%= f.label :list_style %></th>
    <td colspan="3">
      <%= link_to '置き換えテキストを確認する', '#', class: 'show_dialog' %>
      <%= f.array_text_field 'in_settings[list_style]', size: 50 %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :more_label %></th>
    <td><%= f.array_text_field 'in_settings[more_label]', class: 'name' %></td>
  </tr>
</table>

<%= render 'gp_article/admin/shared/doc_style_tags' %>
<script>
$(function() {
  $('a.show_dialog').on('click', function() {
    $('#doc_style_tags').dialog({width: 400});
    return false;
  });
});
</script>
<%- end -%>
