<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th style="text-align: center; width: 60px;">詳細</th>
    <th><%= Survey::Form.human_attribute_name :title %></th>
    <th style="text-align: center; width: 150px">所属</th>
    <th style="text-align: center; width: 90px;"><%= Survey::Question.model_name.human %></th>
    <th style="text-align: center; width: 90px;"><%= Survey::FormAnswer.model_name.human %></th>
    <th style="text-align: center; width: 80px;"><%= Survey::Form.human_attribute_name :sort_no %></th>
    <th style="text-align: center; width: 120px;"><%= Survey::Form.human_attribute_name :created_at %></th>
    <th style="text-align: center; width: 100px;"><%= Survey::Form.human_attribute_name :state %></th>
    <th style="text-align: center; width: 100px;">プレビュー</th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, { action: :show, content: @content, id: item.id } %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.creator.try!(:group).try!(:name) %></td>
    <td style="text-align: center;"><%= link_to "#{Survey::Question.model_name.human}一覧", survey_form_questions_path(content: @content, form_id: item.id) %></td>
    <td style="text-align: center;"><%= link_to "#{Survey::FormAnswer.model_name.human}一覧", survey_form_form_answers_path(content: @content, form_id: item.id) %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td style="text-align: center;"><%=l item.updated_at %></td>
    <td style="text-align: center;" class="<%= 'approvable' if item.state_approvable? && item.approvers.include?(Core.user) %>"><%= item.state_text %></td>
    <td style="text-align: center;">
      <%= preview_links(item.site, item.preview_uri,
                                   item.preview_uri(terminal: :smart_phone),
                                   item.preview_uri(terminal: :mobile)) %>
    </td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
