<%= init_ckeditor readOnly: true %>
<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :summary %></th>
    <td class="cke_editor_wrapper"><%= text_area_tag :summary, @item.summary, class: 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td class="cke_editor_wrapper"><%= text_area_tag :description, @item.description, class: 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :receipt %></th>
    <td class="cke_editor_wrapper"><%= text_area_tag :receipt, @item.receipt, class: 'ckeditor' %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:sitemap_state) %></th>
    <td><%= @item.sitemap_state_text %></td>
  </tr>
  <tr>
    <th><%= @item.locale(:index_link) %></th>
    <td><%= @item.class::INDEX_LINK_OPTIONS.detect{|o| o.last == @item.index_link }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :confirmation %></th>
    <td><%= @item.class::CONFIRMATION_OPTIONS.detect{|o| o.last == @item.confirmation }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :mail_to %></th>
    <td><%= @item.mail_to %></td>
  </tr>
</table>

<%= task_view @item %>

<%- if @content.approval_related? -%>
<p class="form">承認</p>
<%= render 'approval/admin/_partial/view', item: @item, content: @content %>
<%- end -%>

<%= creator_view @item %>
