<%= render 'cms/admin/tool/convert/menu' %>

<div class="actionMenu" style="margin-top: 10px;">
<%- case params[:action] -%>
<%- when 'new' -%>
  <%= link_to '一覧', { action: :index } %>
<%- when 'show' -%>
  <%= link_to '一覧', { action: :index } %>
  <%= link_to '編集', { action: :new, item: { site_url: @item.site_url } } %>
  <%= link_to '削除', { action: :destroy, id: @item.id }, method: :delete, confirm: '削除してよろしいですか？' %>
<%- end -%>
</div>
