<p class="form">変換設定一覧</p>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="text-align: left;"><%= Tool::ConvertSetting.human_attribute_name :site_url %></th>
    <th style="width: 200px; text-align: left;"><%= Tool::ConvertSetting.human_attribute_name :title_tag %></th>
    <th style="width: 200px; text-align: left;"><%= Tool::ConvertSetting.human_attribute_name :body_tag %></th>
    <th style="width: 120px; text-align: center;"><%= Tool::ConvertSetting.human_attribute_name :updated_at %></th>
    <th style="width: 120px; text-align: center;"><%= Tool::ConvertSetting.human_attribute_name :created_at %></th>
  </tr>
  <%- @items.each do |item| -%>
    <tr class="<%= cycle('cycle', '')%>">
      <td style="text-align: center;"><%= link_to :show, cms_tool_convert_setting_path(id: item.id) %> </td>
      <td style="text-align: left;"><%= item.site_url %></td>
      <td style="text-align: left;"><%= item.title_tag %></td>
      <td style="text-align: left;"><%= item.body_tag %></td>
      <td style="text-align: center;"><%=l item.updated_at if item.updated_at %></td>
      <td style="text-align: center;"><%=l item.created_at if item.created_at %></td>
    </tr>
  <%- end -%>
</table>

<%= paginate @items %>
