<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :concept_id %></th>
    <td><%= safe{@item.concept.name} %> </td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= safe{@item.status.name} %> </td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
</table>

<table class="show" style="margin: 0px;">
  <tr>
    <th><%= @item.class.human_attribute_name :body %></th></tr><tr>
    <td><%=hbr @item.body %></td>
  </tr>
</table>

<%= creator_view @item %>
