<%- if @piece.target_today? -%>
<%- @places.each do |place| -%>
<div class="location">
  <div class="name"><%= place.title %></div>
  <ul>
    <%- if @exception_holidays[place.id].blank? && !@holidays[place.id].blank? -%>
    <%- @holidays[place.id].each do |i, h| -%>
    <li><span class="<%= h[0] %>"><%= h[1] %></span></li>
    <%- end -%>
    <%- else -%>
    <% @bussiness_times[place.id].each do |hour| %>
    <li><span class="time"><%= business_hour_start_end_text(hour, time_style: @piece.time_style) %></span></li>
    <%- end -%>
    <%- end -%>
  </ul>
</div>
<%- end -%>
<%- else -%>
<%- @places.each do |place| -%>
<div class="location">
  <div class="name"><%= place.title %></div>
  <ul>
    <% place.hours.public_state.each do |hour| %>
    <li><span class="date"><%= hour.target_date_label(@content.date_style) %></span>：
      <span class="time"><%= business_hour_start_end_text(hour, time_style: @piece.time_style) %></span></li>
    <% end %>
  </ul>
</div>
<%- end -%>
<%- end -%>