<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :to %></th>
    <td><%= @item.to %> <%= '（CCを含む）' if @item.include_cc %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :subject %></th>
    <td><%= @item.subject %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :logic %></th>
    <td><%= @item.logic_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :dest_content_id %></th>
    <td><%= link_to @item.dest_content.name, @item.dest_content.admin_uri if @item.dest_content %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :default_user_id %></th>
    <td><%= @item.default_user.name_with_account if @item.default_user %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
