<%= init_ckeditor %>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.states, class: 'status' %></td>
  </tr><tr>
    <th><%= f.label :published_at %></th>
    <td><%= f.text_field :published_at, value: l(@item.published_at), class: 'datetimepicker pulished_at' %></td>
  </tr><tr>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title, class: 'string title' %></td>
  </tr><tr>
    <th colspan="2"><%= f.label :body %></th>
  </tr><tr>
    <td colspan="2"><%= f.text_area :body, class: 'string body ckeditor' %></td>
  </tr>
</table>

<script type="text/javascript">
$(function() {
  $('input.datetimepicker').datetimepicker();
});
</script>
