<%= page_entries_info @items %>

<table class="index">
  
  <tr>
    <th class="action_link">詳細</th>
    <th style="width: 60px; text-align: right;">ID</th>
    <th style="width: 120px; text-align: center;">公開日時</th>
    <th style="width: ;">タイトル</th>
    <th style="width: 60px; text-align: center;">状態</th>
  </tr>
  
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td class="action_link"><%= link_to :show, { action: :show, id: item } %></td>
    <td style="text-align: right;"><%= item.id %></td>
    <td style="text-align: center;"><%=l item.published_at %></td>
    <td><%= item.title %></td>
    <td style="text-align: center;"><%= item.state_text %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
