<div class="contentMapMarkers">
  <div id="map_canvas" style="height: 350px; width: 700px;"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
  <%= javascript_include_tag "/_common/js/openlayers/ol.js" %>
  <%= javascript_include_tag '/_common/modules/map/js/openlayers.js' %>
  <script>
  function addEvent(element, listener, func) {
    try {
      element.addEventListener(listener, func, false);
    } catch (e) {
      element.attachEvent('on' + listener, func);
    }
  }
  addEvent(window, 'load', function() {
    <%- unless @all_markers.empty?
          bounds = @all_markers.inject(min: {}, max: {}){|result, marker|
                     min = result[:min]
                     max = result[:max]
                     m_lat = marker.latitude.to_f
                     m_lon = marker.longitude.to_f

                     min[:lat] ||= m_lat
                     min[:lon] ||= m_lon
                     max[:lat] ||= m_lat
                     max[:lon] ||= m_lon

                     min[:lat] = m_lat if min[:lat] > m_lat
                     min[:lon] = m_lon if min[:lon] > m_lon
                     max[:lat] = m_lat if max[:lat] < m_lat
                     max[:lon] = m_lon if max[:lon] < m_lon

                     result
                   } -%>
    map = new OpenLayersViewer('map_canvas', '<%= @content.site.map_source %>',
                                <%= bounds[:min][:lat] %>, <%= bounds[:min][:lon] %>, null,
                                <%= bounds[:max][:lat] %>, <%= bounds[:max][:lon] %>);
    <%- else -%>
    <%- default_position = default_map_position(@content) -%>
    map = new OpenLayersViewer('map_canvas', '<%= @content.site.map_source %>', <%= default_position[0].to_f %>, <%= default_position[1].to_f %>, null);
    <%- end -%>

    var markers = [];

    <% @all_markers.each_with_index do |marker, idx| %>
      <%- next if marker.latitude.blank? || marker.longitude.blank? -%>
      markers.push({
        id: '<%= "#{marker.latitude}_#{marker.longitude}" %>', lat: <%= marker.latitude.to_f %>, lng: <%= marker.longitude.to_f %>,
        content: '<%==j br(marker.window_text) %>',
        icon: '<%==j @content.icon_image(marker.icon_category || (marker.categories.include?(@specified_category) ? @specified_category
                                                                                                                         : marker.categories.first), true) %>'
      });
    <%- end -%>
    map.create_markers(markers);
  });

  </script>

  <%- unless @markers.empty? -%>
  <table>
    <thead>
      <tr>
      <%- @content.list_style.each do |header| -%>
        <th scope="col"><%= header[:header].html_safe %></th>
      <%- end -%>
      </tr>
    </thead>
    <tbody>
      <%- @markers.each do |marker| -%>
        <%= marker_table_replace(marker, @content.list_style) %>
      <%- end -%>
    </tbody>
  </table>
  <%- end -%>

  <%= paginate @markers %>
</div>
