<section class="<%= @template_module.name %>">
  <%=raw @template_module.upper_text %>
  <%- @categories.each do |category| -%>
    <%- next if @category_docs[category.id].blank? -%>
    <section class="<%= category.name %>">
      <h2><%= category.title %></h2>
      <%= render 'gp_category/public/template_module/shared/_docs', content: @content, template_module: @template_module, docs: @category_docs[category.id] %>
      <%- if @category_docs[category.id].total_pages > 1 -%>
        <div>
          <%= link_to '一覧へ', category_module_more_link(template_module: @template_module, ct_or_c: @category || @category_type, category_name: @category.name), class: 'more' %>
        </div>
      <%- end -%>
    </section>
  <%- end -%>
  <%=raw @template_module.lower_text %>
</section>
