<%
user_opts = approval.approvers_options(Core.user)

e2_list =
  if (assignments = params.dig(:item, :in_approval_assignment_ids, approval_flow.id.to_s, approval.id.to_s))
    assignments.to_s.split(' ').uniq
  elsif (request = item.approval_requests.find_by(approval_flow_id: approval_flow.id))
    request.selected_assignments.where(selected_index: approval.index).group_by(&:or_group_id)
      .map {|_, assignments| assignments.map(&:assigner_id).join(',') }.uniq
  else
    []
  end

e1_opt, e2_opt = user_opts.partition { |opt| !e2_list.include?(opt[1].to_s) }
%>

<%= hidden_field_tag "item[in_approval_assignment_ids][#{approval_flow.id}][#{approval.id}]" %>
<table class="noDesign">
  <tr>
    <td>
      <%= select_tag "assignments1_#{approval.id}", options_for_select(e1_opt), multiple: true, style: "width: 300px; height: 140px;" %>
    </td>
    <td>
      <input type="button" value="追加 →" id="add_approvers_<%= approval.id %>" /><br /><br />
      <input type="button" value="← 除外" id="remove_approvers_<%= approval.id %>" />
    </td>
    <td>
      <%= select_tag "assignments2_#{approval.id}", options_for_select(e2_opt), multiple: true, style: "width: 300px; height: 140px;" %>
    </td>
  </tr>
</table>

<script type="text/javascript">
$(function() {
  $('form').simpleMultiSelect({
    source: '#assignments1_<%= approval.id %>',
    destination: '#assignments2_<%= approval.id %>',
    add: '#add_approvers_<%= approval.id %>',
    remove: '#remove_approvers_<%= approval.id %>'
  });

  $('form').on('submit', function(e) {
    var ids = [];
    $('#assignments2_<%= approval.id %> > option').each(function() {
      ids.push($(this).val());
    });
    $('#item_in_approval_assignment_ids_<%= "#{approval_flow.id}_#{approval.id}" %>').val(ids.join(' '));
  });
});
</script>
