<%- if @item.name == 'common_ssl' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_common_ssl) %></th>
    <td><%= f.radio_buttons(:in_setting_site_common_ssl, @item.class::SSL_OPTIONS) %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'admin_mail_sender' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_admin_mail_sender) %></th>
    <td><%= f.text_field(:in_setting_site_admin_mail_sender, class: 'name') %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'allowed_attachment_type' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_allowed_attachment_type) %></th>
    <td>
      <div>例: gif,jpg,png,pdf,doc,docx,xls,xlsx,ppt,pptx,odt,ods,odp</div>
      <%= f.text_field(:in_setting_site_allowed_attachment_type, style: 'width: 500px; ime-mode:disabled;') %>
    </td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'file_upload_max_size' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_file_upload_max_size) %></th>
    <td><%= f.text_field(:in_setting_site_file_upload_max_size) %></td>
  </tr><tr>
    <th><%= @site.locale(:setting_extension_upload_max_size) %></th>
    <td>
    <%= f.text_area :in_setting_site_extension_upload_max_size, :size => '100x10' %>
      <div>
        例：jpgファイルは1MB、gifファイルは5MBをアップロードサイズ上限として設定する。<br />
        jpg, 1<br />
        gif, 5
      </div>
    </td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'link_check' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_link_check) %></th>
    <td><%= f.radio_buttons(:in_setting_site_link_check, @item.class::LINK_CHECK_OPTIONS) %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'kana_talk' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_kana_talk) %></th>
    <td><%= f.radio_buttons(:in_setting_site_kana_talk, @item.class::KANA_TALK_OPTIONS) %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'map_coordinate' -%>
<table class="show">
  <tr>
    <th><%= @site.locale(:setting_map_coordinate) %></th>
    <td><%= f.text_field(:in_setting_site_map_coordinate, :size=>"60") %> （緯度,経度）</td>
  </tr>
</table>
<%- end -%>

