<% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %></td>
  </tr>
  <%= concept_form f %>
  <tr>
    <th><%= f.label :content_id %></th>
    <td><%= @item.content_name %></td>
  </tr><tr>
    <th><%= f.label :model %></th>
    <td><%= @item.module_name(:short) %></td>
  </tr><tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, class: 'id' %></td>
  </tr><tr>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title, class: 'name' %></td>
  </tr><tr>
    <th><%= f.label :view_title %></th>
    <td><%= f.text_field :view_title, class: 'name' %></td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
