<% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :concept_id %></th>
    <td><%= @item.concept.name if @item.concept %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :content_id %></th>
    <td><%= @item.content_name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :model %></th>
    <td><%= @item.module_name(:short) %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%=hbr @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%=hbr @item.title %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :view_title %></th>
    <td><%=hbr @item.view_title %></td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
