<%= render 'search' %>

<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th style="width: 60px; padding: 0px; text-align: center;">詳細</th>
    <th style="width: 200px;"><%= Sys::OperationLog.human_attribute_name :user_name %></th>
    <th style="width: 200px;"><%= Sys::OperationLog.human_attribute_name :action %></th>
    <th style="width: ;"><%= Sys::OperationLog.human_attribute_name :item %></th>
    <th style="width: 120px; text-align: center;"><%= Sys::OperationLog.human_attribute_name :ipaddr %></th>
    <th style="width: 120px; text-align: center;"><%= Sys::OperationLog.human_attribute_name :created_at %></th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, { action: :show, id: item } %></td>
    <td><%= item.user_name %></td>
    <td><%= item.action_text %></td>
    <td><%= item.item_model %><%= " (#{truncate(item.item_name, :length => 20)})" if item.item_name %></td>
    <td style="text-align: center;"><%= item.ipaddr %></td>
    <td style="text-align: center;"><%=l item.created_at %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>

