
<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :created_at %></th>
    <td><%=l @item.created_at %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :user_id %></th>
    <td><%= @item.user_id %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :user_account %></th>
    <td><%= @item.user_account %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :user_name %></th>
    <td><%= @item.user_name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :ipaddr %></th>
    <td><%= @item.ipaddr %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :uri %></th>
    <td><%= @item.uri %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :action %></th>
    <td><%= @item.action_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :item_model %></th>
    <td><%= @item.item_model %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :item_id  %></th>
    <td><%= @item.item_id %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :item_name %></th>
    <td><%= @item.item_name %></td>
  </tr>
</table>
