<%= page_entries_info @items -%>

<table class="index">
  <tr>
    <th class="action_link">詳細</th>
    <th><%= Map::Marker.human_attribute_name :title %></th>
    <th><%= Map::Marker.human_attribute_name :latitude %></th>
    <th><%= Map::Marker.human_attribute_name :longitude %></th>
    <th style="width: 60px;"><%= Map::Marker.human_attribute_name :sort_no %></th>
    <th style="text-align: center; width: 60px;"><%= Map::Marker.human_attribute_name :state %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td class="action_link"><%= link_to :show, { action: :show, id: item } %></td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: left;"><%= item.latitude %></td>
    <td style="text-align: left;"><%= item.longitude %></td>
    <td><%= item.sort_no %></td>
    <td style="text-align: center;"><%= item.state_text %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
