<div class="surveyForm">
  <%= form_for @form_answer, url: "#{@form.public_uri}send_answers", html: { multipart: true } do |f| -%>

    <div class="questions">
      <%- @form_answer.form.public_questions.each do |question| -%>
      <div class="question">
        <div class="question_content">
          <%= label_tag "question_answers_#{question.id}", question.title %>
        </div>

        <%- if question.form_type != 'free' -%>
          <%- answer = @form_answer.answers.detect { |a| a.question_id == question.id } -%>
          <div class="answer_content">
            <%- case question.form_type -%>
            <%- when 'text_field', 'text_field_email', 'select', 'radio_button', 'check_box' -%>
              <%= hidden_field_tag "question_answers[#{question.id}]", answer&.content %>
              <%= answer&.content %>
            <%- when 'text_area' -%>
              <%= hidden_field_tag "question_answers[#{question.id}]", answer&.content %>
              <%=simple_format answer&.content %>
            <%- when 'attachment' -%>
              <%= hidden_field_tag "question_answers[#{question.id}][name]", answer&.content %>
              <%= hidden_field_tag "question_answers[#{question.id}][data]", Base64.strict_encode64(answer&.attachment&.data) if answer&.attachment&.data %>
              <%= answer&.content %>
            <%- end -%>
          </div>
        <%- end -%>

        <%- if question.description.present? -%>
          <div class="body"><%=raw question.description %></div>
        <%- end -%>
      </div>
      <%- end -%>
    </div>

    <%- if @content.use_captcha? -%>
      <%= hidden_field_tag 'captcha', @form_answer.captcha %>
      <%= hidden_field_tag 'captcha_key', @form_answer.captcha_key %>
    <%- end -%>

    <div class="submit">
      <%= submit_tag '送信する' %>
      <%= submit_tag '変更する', name: 'edit_answers' %>
    </div>

    <%= render 'from_piece', piece: @piece, form_answer: @form_answer,
                             current_url: @current_url, current_url_title: @current_url_title %>
  <%- end -%>
</div>
