<div class="surveyForm">
  <% if @form_answer.form.description.present? %><div class="body"><%=raw @form_answer.form.description %></div><% end %>

  <%= form_for @form_answer, url: "#{@form.public_uri}confirm_answers", html: { multipart: true } do |f| -%>
    <%= f.error_messages %>

    <div class="questions">
      <%- @form_answer.form.public_questions.each do |question| -%>
      <div class="question">
        <div class="question_content">
          <%= label_tag "question_answers_#{question.id}" do %>
            <%= question.title %>
            <% if question.required? && question.form_type != 'free' %><span class="note">※必須</span><% end %>
          <%- end -%>
        </div>

        <%- if question.description.present? -%>
          <div class="body"><%=raw question.description %></div>
        <%- end -%>

        <div class="answer_content">
          <%- answer = @form_answer.answers.detect { |a| a.question_id == question.id } -%>
          <%- case question.form_type -%>
          <%- when 'text_field', 'text_field_email' -%>
            <%= text_field_tag "question_answers[#{question.id}]", answer&.content, style: question.style_attribute %>
            <%- if question.form_text_max_length -%>
            <span class="max_length">（最大<%= question.form_text_max_length %>文字）</span>
            <%- end -%>
          <%- when 'text_area' -%>
            <%= text_area_tag "question_answers[#{question.id}]", answer&.content, style: question.style_attribute, size: '100x10' %>
            <%- if question.form_text_max_length -%>
            <span class="max_length">（最大<%= question.form_text_max_length %>文字）</span>
            <%- end -%>
          <%- when 'select' -%>
            <%= select_tag "question_answers[#{question.id}]",
                           options_for_select(question.form_options_for_select, answer&.content), style: question.style_attribute,
                           include_blank: true %>
          <%- when 'radio_button' -%>
            <%= hidden_field_tag "question_answers[#{question.id}][]" %>
            <%- question.form_options_for_select.each_with_index do |option, i| -%>
              <%= radio_button_tag "question_answers[#{question.id}]", option, option == answer&.content, id: "question_answers_#{question.id}_#{i}" %>
              <%= label_tag "question_answers_#{question.id}_#{i}", option %>
            <%- end -%>
          <%- when 'check_box' -%>
            <%= hidden_field_tag "question_answers[#{question.id}][]" %>
            <%- question.form_options_for_select.each_with_index do |option, i| -%>
              <%= check_box_tag "question_answers[#{question.id}][]", option, answer&.content&.split(',')&.include?(option), id: "question_answers_#{question.id}_#{i}" %>
              <%= label_tag "question_answers_#{question.id}_#{i}", option %>
            <%- end -%>
          <%- when 'attachment' -%>
            <%= file_field_tag "question_answers[#{question.id}][file]", id: "question_answers_#{question.id}" %>
            <%= hidden_field_tag "question_answers[#{question.id}][name]" %>
            <%= hidden_field_tag "question_answers[#{question.id}][data]" %>
            <span class="max_length">（最大<%= question.form_file_max_size || 1 %> MB）</span>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
    </div>

    <%- if @content.use_captcha? -%>
    <div class="question">
      <div class="question_content">画像認証</div>
      <div class="answer_content"><%= show_simple_captcha %></div>
    </div>
    <%- end -%>

    <div class="submit">
      <%- if @form_answer.form.confirmation? -%>
      <%= submit_tag '確認画面へ', disabled: Core.preview_mode? %>
      <%- else -%>
      <%= submit_tag '送信', data: { confirm: '送信してもよろしいですか？', disable_with: '送信中...' }, disabled: Core.preview_mode? %>
      <%- end -%>
    </div>

    <%= render 'from_piece', piece: @piece, form_answer: @form_answer,
                             current_url: @current_url, current_url_title: @current_url_title %>
  <%- end -%>
</div>
