<div class"questions">
  <div class="question open_on">
    <div class="question_content"><%= f.label :open_id, '参加日選択' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.select :open_id, options_for_select(@course.applicable_opens.map { |open| [open.open_at_text, open.id] }, @applicant.open_id) %></div>
  </div>
  <div class="question name">
    <div class="question_content"><%= f.label :name, 'お名前' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.text_field :name %></div>
  </div>
  <div class="question kana">
    <div class="question_content"><%= f.label :kana, 'フリガナ' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.text_field :kana %></div>
  </div>
  <div class="question tel">
    <div class="question_content"><%= f.label :tel, '電話番号' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.text_field :tel %></div>
  </div>
  <div class="question email">
    <div class="question_content"><%= f.label :email, 'メールアドレス' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.text_field :email %></div>
  </div>
  <div class="question email_confirmation">
    <div class="question_content"><%= f.label :email_confirmation, 'メールアドレス（確認用）' %><span class="note">※必須</span></div>
    <div class="answer_content"><%= f.text_field :email_confirmation %></div>
  </div>
  <div class="question remark">
    <div class="question_content"><%= f.label :remark, '備考' %></div>
    <div class="answer_content"><%= f.text_area :remark %></div>
  </div>
</div>
