<div class="questions">
  <div class="question open_id">
    <div class="question_content">参加日</div>
    <div class="answer_content"><%= applicant.open.title if applicant.open %></div>
  </div>
  <div class="question name">
    <div class="question_content">お名前</div>
    <div class="answer_content"><%= applicant.name %></div>
  </div>
  <div class="question kana">
    <div class="question_content">フリガナ</div>
    <div class="answer_content"><%= applicant.kana %></div>
  </div>
  <div class="question tel">
    <div class="question_content">電話番号</div>
    <div class="answer_content"><%= applicant.tel %></div>
  </div>
  <div class="question email">
    <div class="question_content">メールアドレス</div>
    <div class="answer_content"><%= applicant.email %></div>
  </div>
  <div class="question remark">
    <div class="question_content">備考</div>
    <div class="answer_content"><%=hbr applicant.remark %></div>
  </div>
</div>
