<%- if @running -%>
<div id="reload_count"></div>
<%- end -%>

<table class="index">
  <tr>
    <th style="text-align: center;">ページタイトル</th>
    <th style="text-align: center; width: 250px;">ステータス</th>
    <th style="text-align: center; width: 300px;">リンクテキスト</th>
    <th style="text-align: center; width: 400px;">リンクURL</th>
    <th style="text-align: center; width: 40px;">結果</th>
  </tr>
  <%- @logs.each do |log| -%>
    <tr class="<%= cycle '', 'cycle' %>">
      <td>
        <%- if (link_checkable = log.link_checkable).is_a?(GpArticle::Doc) -%>
          <%= link_to log.title, gp_article_doc_path(content: link_checkable.content, id: link_checkable.id) %>
        <%- elsif (link_checkable = log.link_checkable).is_a?(Cms::Node) && Core.user.has_auth?(:designer) -%>
          <%= link_to log.title, link_checkable.admin_uri %>
        <%- else -%>
          <%= log.title %>
        <%- end -%>
      </td>
      <td><%= log.status %> <%= log.reason %></td>
      <td><%= log.body %></td>
      <td><%= link_to log.url, log.url, target: 'preview' %></td>
      <td style="text-align: center;"><%= log.result ? '○' : '×' %></td>
    </tr>
  <%- end -%>
</table>

<%= paginate @logs %>

<%- if @running -%>
<%= javascript_tag do -%>
$(document).ready(function () {
  (function () {
    var count = 10;
    var interval_id = setInterval(function () {
        $('#reload_count').text(count + '秒後に更新します。');
        if (--count < 1) {
          clearInterval(interval_id);
          location.reload();
        }
      }, 1000);
  })();
});
<%- end -%>
<%- end -%>