<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :seq_no %></th>
    <td><%= @item.seq_no %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :kana %></th>
    <td><%= @item.kana %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :tel %></th>
    <td><%= @item.tel %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :email %></th>
    <td><%= @item.email %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :remark %></th>
    <td><%=hbr @item.remark %></td>
  </tr>
</table>

<p class="form">登録者情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :remote_addr %></th>
    <td><%= @item.remote_addr %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :user_agent %></th>
    <td><%= @item.user_agent %></td>
  </tr>
</table>

<%= creator_view @item %>
