<%-
content = GpCategory::Content::CategoryType.find_by_id(@item.value)
category_types = content.try(:category_types) || []
category_types_for_option = content.try(:category_types_for_option) || []

ct_ids = @item.category_type_ids
vct_ids = @item.visible_category_type_ids
default_category_type_id = @item.default_category_type_id
default_categories_for_option = category_types.detect{|ct| ct.id == default_category_type_id }.try(:categories_for_option) || []
default_category_id = @item.default_category_id
-%>
<table class="show">
  <tr>
    <th>利用<%= GpCategory::CategoryType.model_name.human %></th>
    <td id="category_types">
      <%- category_types.each do |ct| -%>
      <span class="category_type">
        <%= check_box_tag "ct_#{ct.id}", ct.id, ct_ids.include?(ct.id), name: 'item[extra_values][category_type_ids][]' -%>
        <%= label_tag "ct_#{ct.id}", "#{ct.title}(#{ct.name})" -%>
      </span>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th>表示<%= GpCategory::CategoryType.model_name.human %></th>
    <td id="visible_category_types">
      <%- category_types.each do |ct| -%>
      <span class="visible_category_type">
        <%= check_box_tag "vct_#{ct.id}", ct.id, vct_ids.include?(ct.id), name: 'item[extra_values][visible_category_type_ids][]' -%>
        <%= label_tag "vct_#{ct.id}", "#{ct.title}(#{ct.name})" -%>
      </span>
      <%- end -%>
    </td>
  </tr>
</table>

<br />
<p class="form">初期値</p>

<table class="show">
  <tr>
    <th><%= GpCategory::CategoryType.model_name.human %></th>
    <td><%= select_tag 'item[extra_values][default_category_type_id]', options_for_select(category_types_for_option, default_category_type_id), include_blank: true %></td>
    <th><%= GpCategory::Category.model_name.human %></th>
    <td><%= select_tag 'item[extra_values][default_category_id]', options_for_select(default_categories_for_option, default_category_id), include_blank: true %></td>
  </tr>
</table>

<script>
$(function() {
  $('#item_value').on('change', function(e) {
    var content_id = parseInt(e.target.value);
    if (isNaN(content_id)) {
      $('#category_types, #visible_category_types').html('');
      $('#item_extra_values_default_category_type_id').html('<option value=""></option>');
      $('#item_extra_values_default_category_type_id, #item_extra_values_default_category_id').html('<option value=""></option>');
    } else {
      $('#category_types, #visible_category_types').html('更新中...');
      $('#item_extra_values_default_category_type_id').html('<option value="">更新中...</option>');
      $('#item_extra_values_default_category_type_id, #item_extra_values_default_category_id').html('<option value=""></option>');
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?check_boxes=true'.replace('CONTENT_ID', content_id), function(data) {
        $('#category_types').html(
          data.replace(/category_types\[\]/g, 'item[extra_values][category_type_ids][]')
        );
        $('#visible_category_types').html(
          data.replace(/category_types\[\]/g, 'item[extra_values][visible_category_type_ids][]').replace(/"ct_/g, '"vct_')
        );
      });
      $.get('<%= gp_category_category_types_path(content: 'CONTENT_ID') %>?options=true'.replace('CONTENT_ID', content_id), function(data) {
        $('#item_extra_values_default_category_type_id').html(data);
      });
    }
  });

  $('#item_extra_values_default_category_type_id').on('change', function(e) {
    var content_id = parseInt($('#item_value').val());
    var category_type_id = NaN;
    if (isFinite(content_id)) { category_type_id = parseInt(e.target.value); }
    if (isNaN(category_type_id)) {
      $('#item_extra_values_default_category_id').html('<option value=""></option>');
    } else {
      $('#item_extra_values_default_category_id').html('<option value="">更新中...</option>');
      $.get('<%= gp_category_category_type_categories_path(content: 'CONTENT_ID', category_type_id: 'CATEGORY_TYPE_ID') %>?options=true'.replace('CONTENT_ID', content_id)
                                                                                                                                        .replace('CATEGORY_TYPE_ID', category_type_id), function(data) {
        $('#item_extra_values_default_category_id').html(data);
      });
    }
  });

  $(document).on('click', '#category_types input[type="checkbox"]', function(e) {
    if (!e.target.checked) { $('#' + e.target.id.replace('ct_', 'vct_')).prop('checked', false); }
  });
  $(document).on('click', '#visible_category_types input[type="checkbox"]', function(e) {
    if (e.target.checked) { $('#' + e.target.id.replace('vct_', 'ct_')).prop('checked', true); }
  });
});
</script>
