<%= render 'shared/admin/content/settings/form', f: f, item: @item -%>

<%- if @item.name == 'approval_relation' -%>
<table class="show">
  <tr>
    <th><%= Approval::Content::ApprovalFlow.model_name.human %></th>
    <td><%= select_tag 'item[extra_values][approval_content_id]',
                       options_from_collection_for_select(Approval::Content::ApprovalFlow.all, :id, :name, @item.extra_values[:approval_content_id]),
                       include_blank: true %></td>
  </tr>
  <tr>
    <th>承認後公開</th>
    <td>
      <%= radio_button_tag 'item[extra_values][publish_after_approved]', 'enabled', @item.extra_values[:publish_after_approved] == 'enabled' %>
      <%= label_tag 'item_extra_values_publish_after_approved_enabled', '使用する' %>
      <%= radio_button_tag 'item[extra_values][publish_after_approved]', 'disabled', @item.extra_values[:publish_after_approved] == 'disabled' %>
      <%= label_tag 'item_extra_values_publish_after_approved_disabled', '使用しない' %>
    </td>
  </tr>
</table>
<%- end -%>

<%- if @item.name == 'auto_reply' -%>
<table class="show">
  <tr>
    <th>自動返信テキスト（上部）</th>
    <td><%= text_area_tag 'item[extra_values][upper_reply_text]', @item.extra_values[:upper_reply_text], size: '100x10' %></td>
  </tr>
  <tr>
    <th>自動返信テキスト（下部）</th>
    <td><%= text_area_tag 'item[extra_values][lower_reply_text]', @item.extra_values[:lower_reply_text], size: '100x10' %></td>
  </tr>
</table>
<%- end -%>
