<h1><a href="/<%= ZomekiCMS::ADMIN_URL_PREFIX %>">CMS</a></h1>
<div class="menu">
  <span class="loginGroup"><%= Core.user_group.try!(:name) %></span>
  <span class="loginUser"><%= Core.user.try!(:name_with_account) %></span>
  <a class="web" href="<%= Core.site.try!(:full_uri) %>" target="_blank">公開画面</a>
  <a class="logout" href="/<%= ZomekiCMS::ADMIN_URL_PREFIX %>/logout">ログアウト</a>
</div>
