<p class="form">検索</p>

<%= render 'search' %>

<%- if @results.size > 0 -%>
  <p class="form">検索結果</p>
  <div><%= @count > 0 ? "#{@count}件見つかりました。" : "見つかりませんでした。" -%></div>
<%- end -%>

<%- @results.each do |result| -%>
  <%- next if result[:count] == 0 -%>
  <%- reset_cycle -%>
  <p style="margin: 10px 0px; padding: 2px 5px; border-left: 4px solid #bbb;"><%= result[:title] %></p>
  <%- if result[:count] > 0 -%>
  <div class="pageEntryInfo"><%= result[:count] %>件</div>
  <%- end -%>
  <table class="index">
    <tr>
      <th style="width: 70px; text-align: right;">ID</th>
      <th>タイトル</th>
      <th style="width: 120px;">コンセプト</th>
      <th style="width: 80px;">状態</th>
      <th style="width: 33%;">公開URL</th>
    </tr>
    <%- result[:items].each do |item| -%>
      <tr class="<%= cycle '', 'cycle' %>">
        <td style="text-align: right;"><%= item[:id] %></td>
        <td><%= link_to item[:title], item[:admin_uri], target: '_blank' %></td>
        <td><%= item[:concept].name %></td>
        <td><%= item[:state_text] %></td>
        <td><%= link_to_if item[:state] == 'public', item[:public_uri], item[:public_uri], target: '_blank' if item[:public_uri] %></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
