<p class="form">検索</p>

<%= render 'search' %>

<%- if @results.size > 0 -%>
  <p class="form">検索結果</p>
  <div><%= @count > 0 ? "#{@count}件見つかりました。" : "見つかりませんでした。" -%></div>
<%- end -%>

<%- @results.each do |result| -%>
  <%- next if result[:count] == 0 -%>
  <%- reset_cycle -%>
  <p id="<%= result[:anchor] %>" style="margin: 10px 0px; padding: 2px 5px; border-left: 4px solid #bbb;"><%= result[:title] %></p>
  <%- if result[:count] > 0 -%>
  <div class="pageEntryInfo"><%= result[:count] %>件</div>
  <%- end -%>
  <table class="index">
    <tr>
      <th style="width: 70px; text-align: right;"><%= sort_link 'ID', anchor: result[:anchor], sort_key: 'id' %></th>
      <th><%= sort_link 'タイトル', anchor: result[:anchor], sort_key: 'title' %></th>
      <th style="width: 120px;"><%= sort_link 'コンセプト', anchor: result[:anchor], sort_key: 'concept_id' %></th>
      <th style="width: 80px;"><%= sort_link '状態', anchor: result[:anchor], sort_key: 'state' %></th>
      <th style="width: 33%;"><%= sort_link '公開URL', anchor: result[:anchor], sort_key: 'public_uri' %></th>
      <th style="text-align: center; width: 120px;"><%= sort_link '作成日時', anchor: result[:anchor], sort_key: 'created_at' %></th>
      <th style="text-align: center; width: 120px;"><%= sort_link '更新日時', anchor: result[:anchor], sort_key: 'updated_at' %></th>
    </tr>
    <%- result[:items].each do |item| -%>
      <tr class="<%= cycle '', 'cycle' %>">
        <td style="text-align: right;"><%= item[:id] %></td>
        <td><%= link_to item[:title], item[:admin_uri], target: '_blank' %></td>
        <td><%= item[:concept].name %></td>
        <td><%= item[:state_text] %></td>
        <td><%= link_to_if item[:state] == 'public', item[:public_uri], item[:public_uri], target: '_blank' if item[:public_uri] %></td>
        <td style="text-align: center;"><%=l item[:created_at] %></td>
        <td style="text-align: center;"><%=l item[:updated_at] %></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
