<%-
groups_for_option = Core.site.groups_for_option
group = Core.user.root? ? Sys::Group.find_by(id: groups_for_option.first.try(:last)) : Core.user_group
item.build_default_inquiry(group: group)
-%>

<div>
  <%- item.inquiry_states.each do |(label, value)| -%>
    <%= radio_button_tag :inquiry_state, value, item.inquiries[0].state == value, class: 'status' %>
    <%= label_tag :"inquiry_state_#{value}", label -%>
  <%- end -%>
</div>

<div id="inquiryForms">
<%- item.inquiries.each_with_index do |inquiry, i| -%>
  <%= f.fields_for :inquiries, inquiry do |f2| -%>
    <div class="inquiryForm">
      <p class="form">連絡先<%= i+1 if i != 0 %></p>
      <%= f2.hidden_field :state, class: "inquiryState" -%>
      <%= f2.hidden_field :_destroy -%>
      <span id="inquiryTableA<%= i %>" style="<%= (Core.user.root? || Core.user.has_auth?(:manager)) ? '' : 'display: none;' %>">
        <div>
          <div class="label1"><%= f2.label :group_id -%></div>
          <%= f2.select :group_id, groups_for_option, include_blank: true %>
        </div>
      </span>
      <span id="inquiryTableB<%= i %>" style="<%= (Core.user.root? || Core.user.has_auth?(:manager)) ? 'display: none;' : '' %>">
        <div>
          <div class="label1"><%= f2.label :group_id -%></div>
          <%- group = Sys::Group.find_by_id(inquiry.group_id) || Core.user_group -%>
          <span id="inquiryGroupLabel<%= i %>"><%= safe{group.full_name} if i == 0 && !Core.user.has_auth?(:manager) %></span>
        </div>
        <div>
          <div class="label1"><%= f2.label :address -%></div>
          <%= inquiry.address %>
        </div>
        <div>
          <div class="label1"><%= f2.label :tel -%></div>
          <%= inquiry.tel %><%= inquiry.tel_attend %>
        </div>
        <div>
          <div class="label1"><%= f2.label :fax -%></div>
          <%= inquiry.fax %>
        </div>
        <div>
          <div class="label1"><%= f2.label :email -%></div>
          <%= inquiry.email %>
        </div>
        <div>
          <div class="label1"><%= f2.label :note -%></div>
          <%= inquiry.note %>
        </div>
      </span>
      <%= button_tag '削除する', type: :button, class: 'deleteInquiry', style: "margin: 10px 0; display: #{i == 0 ? 'none' : 'block'}" -%>
    </div>
  <%- end -%>
<%- end -%>
</div>

<hr />
<%= button_tag '連絡先を追加する', type: :button, id: 'addInquiryForm' if Core.user.has_auth?(:manager) -%>

<%= render 'cms/admin/_partial/inquiries/script', f: f, item: item %>
