<%-
groups_for_option = Core.site.groups_for_option
group = if Core.user.root? && !Core.user.sites.include?(Core.site)
          Sys::Group.find_by(id: groups_for_option.first.try(:last))
        else
          Core.user_group
        end
item.build_default_inquiry(group: group)
-%>

<div>
  <%- Cms::Inquiry.state_options.each do |label, value| -%>
    <%= radio_button_tag :inquiry_state, value, item.inquiries[0].state == value, class: 'status' %>
    <%= label_tag :"inquiry_state_#{value}", label -%>
  <%- end -%>
</div>

<div id="inquiry_forms">
<%- item.inquiries.each_with_index do |inquiry, i| -%>
  <%= f.fields_for :inquiries, inquiry do |f2| -%>
    <div class="inquiry_form">
      <p class="form">連絡先<%= i + 1 %></p>
      <%= f2.hidden_field :state, class: 'inquiry_state' -%>
      <%= f2.hidden_field :_destroy -%>
      <div class="inquiry_group_select" style="<%= 'display: none;' if !Core.user.has_auth?(:manager) && (inquiry.persisted? || i == 0) %>">
        <div class="label1"><%= f2.label :group_id -%></div>
        <%= f2.select :group_id, groups_for_option, include_blank: true %>
      </div>
      <%- if !Core.user.has_auth?(:manager) && (inquiry.persisted? || i == 0) -%>
      <div class="inquiry_group_show">
        <div>
          <div class="label1"><%= f2.label :group_id -%></div>
          <%= inquiry.group&.full_name %>
        </div>
        <div>
          <div class="label1"><%= f2.label :address -%></div>
          <%= inquiry.address %>
        </div>
        <div>
          <div class="label1"><%= f2.label :tel -%></div>
          <%= inquiry.tel %><%= inquiry.tel_attend %>
        </div>
        <div>
          <div class="label1"><%= f2.label :fax -%></div>
          <%= inquiry.fax %>
        </div>
        <div>
          <div class="label1"><%= f2.label :email -%></div>
          <%= inquiry.email %>
        </div>
        <div>
          <div class="label1"><%= f2.label :note -%></div>
          <%= inquiry.note %>
        </div>
      </div>
      <%- end -%>
      <button type="button" class="delete_inquiry" style="margin: 10px 0; <%= 'display: none' if i == 0 %>">削除する</button>
    </div>
  <%- end -%>
<%- end -%>
</div>

<hr />
<%= button_tag '連絡先を追加する', type: :button, id: 'add_inquiry' -%>

<%= render 'cms/admin/_partial/inquiries/script', f: f, item: item %>
