<%- return if item.inquiries.blank? -%>

<table class="show">
  <tr>
    <th>連絡先表示</th>
    <td><%= item.inquiries[0].state_text %></td>
  </tr>
</table>

<%- item.inquiries.each_with_index do |inquiry, i| -%>
  <p class="form">連絡先<%= i+1 if i != 0 %></p>
   <table class="show">
    <tr>
      <th>課</th>
      <td><%= inquiry.group.full_name if inquiry.group %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= inquiry.address %></td>
    </tr>
    <tr>
      <th>TEL</th>
      <td><%= inquiry.tel %><%= inquiry.tel_attend %></td>
    </tr>
    <tr>
      <th>FAX</th>
      <td><%= inquiry.fax %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= inquiry.email %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= inquiry.note %></td>
    </tr>
  </table>
<%- end -%>
