<p class="form">基本情報</p>

<table class="show">
  <%= concept_and_layout_form f, includ_blank: false %>
  <tr>
    <th><%= f.label :content_id %></th>
    <td><%= f.select :content_id, @contents, {} %></td>
  </tr><tr>
    <th><%= f.label :model %></th>
    <td><%= f.select :model, @models, include_blank: "" %></td>
  </tr><tr>
    <th><%= f.label :parent_id %></th>
    <td><%= f.select :parent_id, @item.class.parent_options(Core.site, @item.id), include_blank: true %></td>
  </tr><tr>
    <th><%= f.label :route_id %></th>
    <td><%= f.select :route_id, @item.class.parent_options(Core.site, @item.id), include_blank: true %></td>
  </tr>
  <tr>
    <th><%= f.label :sitemap_state %></th>
    <td><%= f.collection_radio_buttons :sitemap_state, @item.class.sitemap_state_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :sitemap_sort_no %></th>
    <td><%= f.text_field :sitemap_sort_no, class: 'number' %></td>
  </tr>
</table>

<%= creator_form f %>

<script>
$(function() {
  $('#item_concept_id').on('change', function() {
    $.get('<%= url_for(action: :content_options) %>', { concept_id: $(this).val() }, function(html) {
      $('#item_content_id').html(html);
    });
    $.get('<%= url_for(action: :model_options) %>', function(html) {
      $('#item_model').html(html);
    });
  });
  $('#item_content_id').on('change', function() {
    $.get('<%= url_for(action: :model_options) %>', { content_id: $(this).val() }, function(html) {
      $('#item_model').html(html);
    });
  });
});
</script>
