<%= render 'search' %>

<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 35%;">ファイルパス</th>
    <th style="width: ;">タイトル</th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 60px; text-align: center;">状態</th>
    <th style="width: 100px; text-align: center;">プレビュー</th>
  </tr>
  
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, item.admin_uri %></td>
    <td><%= truncate(item.public_uri, length: 40) %></td>
    <td><%= truncate(item.title, length: 30) %></td>
    <td style="text-align: center;"><%=l item.updated_at %></td>
    <td style="text-align: center;"><%= item.state_text %></td>
    <td style="text-align: center;">
      <%= preview_links(item.site, item.preview_uri,
                                   item.preview_uri(terminal: :smart_phone),
                                   item.preview_uri(terminal: :mobile)) %>
    </td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
