<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :concept_id %></th>
    <td><%= @item.concept.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :model %></th>
    <td><%= @item.model_name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :code %></th>
    <td><%= @item.code %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :note %></th>
    <td><%= @item.note %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
