<%= render 'search' %>

<%- @items.each do |item| -%>
  <p class="form"><%= item.question.title %></p>
  <p><%= strip_tags(item.question.description) %></p>

  <table class="show">
    <%- item.sums.each do |option, count| -%>
      <tr>
        <th><%= option %></th>
        <td><%= count %></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
