<%= render 'search' %>

<table class="show">
  <tr>
    <th>回答件数</th>
    <td><%= @form_answers.count %></td>
  </tr>
</table>

<%- @items.each do |item| -%>
  <p class="form"><%= item.question.title %></p>
  <table class="show">
    <%- item.sums.each do |option, count| -%>
      <tr>
        <th><%= option %></th>
        <td><%= count %></td>
      </tr>
    <%- end -%>
    <tr>
      <th>合計</th>
      <td><%= item.sums.map(&:last).sum %></td>
    </tr>
  </table>
<%- end -%>
