<span class="note">※は必須項目です。</span>

<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= f.label :name %> <span class="note">※</span></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr>
  <tr>
    <th><%= f.label :full_uri %> <span class="note">※</span></th>
    <td><%= f.text_field :full_uri, class: 'url' %></td>
  </tr>
  <tr>
    <th><%= f.label :admin_full_uri %></th>
    <td><%= f.text_field :admin_full_uri, class: 'url' %></td>
  </tr>
  <tr>
    <th><%= f.label :state %></th>
    <td>
      <%- if Core.user.root? -%>
        <%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %>
      <%- else -%>
        <%= @item.state_text %><%= f.hidden_field :state %>
      <%- end -%>
    </td>
  </tr>
</table>

<%= f.hidden_field :in_root_group_id if @item.new_record? %>

<br />
<p class="form">携帯サイト</p>

<table class="show">
  <tr>
    <th><%= f.label :mobile_feature %></th>
    <td><%= f.collection_radio_buttons :mobile_feature, @item.class.mobile_feature_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :mobile_full_uri %></th>
    <td><%= f.text_field :mobile_full_uri, class: 'url' %></td>
  </tr>
</table>

<br />
<p class="form">スマートフォンサイト</p>

<table class="show">
  <tr>
    <th><%= f.label :smart_phone_layout %></th>
    <td><%= f.collection_radio_buttons :smart_phone_layout, @item.class.smart_phone_layout_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :smart_phone_publication %></th>
    <td><%= f.collection_radio_buttons :smart_phone_publication, @item.class.smart_phone_publication_options, :last, :first, {},
                                                                 onchange: 'confirm_smart_phone_deletion(this)' %></td>
  </tr>
  <tr>
    <th><%= f.label :spp_target %></th>
    <td><%= f.select :spp_target, @item.class.spp_target_options %></td>
  </tr>
</table>

<br />
<p class="form">MAP設定</p>

<table class="show">
  <tr>
    <th>Google Map API Key</th>
    <td><%= f.text_field :google_map_api_key, class: 'url', style: 'ime-mode: disabled;' %></td>
  </tr>
</table>

<br />

<p class="form">OGP</p>

<table class="show">
  <tr>
    <th><%= f.label :og_type %></th>
    <td><%= f.select :og_type, @item.class.og_type_options, include_blank: true %></td>
  </tr>
  <tr>
    <th><%= f.label :og_title %></th>
    <td><%= f.text_field :og_title %></td>
  </tr>
  <tr>
    <th><%= f.label :og_description %></th>
    <td><%= f.text_area :og_description, size: '100x3' %></td>
  </tr>
  <tr>
    <th><%= f.label :og_image %></th>
    <td><%= f.text_field :og_image, style: 'width: 200px;' %></td>
  </tr>
</table>

<%= creator_form f %>

<script>
function confirm_smart_phone_deletion(radio) {
  if ($(radio).val() !== 'yes' && !confirm("書き出しずみのファイルはすべて削除されます。\nよろしいですか？")) {
    var selector = "input[name='" + $(radio).prop('name') + "'][value='yes']";
    $(selector).prop('checked', true);
  }
}
</script>
