<div class="actionMenu">
<%- if Core.user.root? -%>
<%= action_menu :new     if Core.user.has_priv?(:create, item: Core.concept) %>
<%- end -%>
<%= action_menu :index %>
<%= action_menu :show %>
<%= action_menu :edit    if @item && @item.editable? %>
<%= action_menu :destroy if @item && @item.deletable? %>
</div>
