<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :full_uri %></th>
    <td><%= @item.full_uri %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :mobile_full_uri %></th>
    <td><%= @item.mobile_full_uri %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :admin_full_uri %></th>
    <td><%= @item.admin_full_uri %></td>
  </tr>
</table>

<br />
<p class="form">サイト紹介</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :site_image %></th>
    <td><% if uri = @item.site_image_uri %><img src="<%=h uri %>" alt="" title="" /><% end %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :body %></th>
    <td><%=hbr @item.body %></td>
  </tr>
</table>

<br />
<p class="form">携帯サイト</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :mobile_feature %></th>
    <td><%= @item.mobile_feature_text %></td>
  </tr>
</table>

<br />
<p class="form">スマートフォンサイト</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :smart_phone_layout %></th>
    <td><%= @item.smart_phone_layout_text %></td>
  </tr>
   <tr>
    <th><%= @item.class.human_attribute_name :smart_phone_publication %></th>
    <td><%= @item.smart_phone_publication_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :spp_target %></th>
    <td><%= @item.spp_target_text %></td>
  </tr>
</table>

<br />
<p class="form">MAP設定</p>

<table class="show">
  <tr>
    <th>Google Map API Key</th>
    <td><%= @item.google_map_api_key %></td>
  </tr>
</table>

<br />

<p class="form">OGP</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :og_type %></th>
    <td><%= @item.og_type_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :og_title %></th>
    <td><%= @item.og_title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :og_description %></th>
    <td><%=simple_format @item.og_description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :og_image %></th>
    <td><%= @item.og_image %></td>
  </tr>
</table>

<br />
<p class="form">Basic認証</p>
<div class="actionMenu">
  <%= link_to "編集", cms_site_basic_auth_users_path(@item.id) %>
</div>

<% if @item.basic_auth_users %>
<table class="show">
  <% @item.basic_auth_users.each do |user| %>
  <tr>
    <th><%= user.name %></th>
    <td><%= user.state_text %></td>
  </tr>
  <% end %>
</table>
<% end %>

<%= creator_view @item %>
