<%= init_ckeditor %>

<%= javascript_tag do %>
$(function() {
  $('.js-date').datepicker({ dateFormat: 'yy-mm-dd' });
});
<% end %>

<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.radio_buttons :state, @item.class.state_options, :class => 'states' %></td>
  </tr><tr>
    <th><%= f.label :url %> <span class="note">※</span></th>
    <td><%= f.text_field :url, :class => 'name', :style => 'ime-mode: disabled;' %></td>
  </tr><tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td><%= f.text_field :title, :class => 'title' %></td>
  </tr><tr>
    <th><%= f.label :summary %></th>
    <td><%= f.text_area :summary, :class => 'body ckeditor' %></td>
  </tr><tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, :class => 'body ckeditor' %></td>
  </tr><tr>
    <th><%= f.label :business_hours_state %></th>
    <td><%= f.radio_buttons :business_hours_state, @item.class.business_hours_state_options, :class => 'states' %>
      &nbsp;&nbsp;&nbsp;&nbsp;見出しタイトル：<%= f.text_field :business_hours_title, :class => 'name' %></td>
  </tr><tr>
    <th><%= f.label :business_holiday_state %></th>
    <td><%= f.radio_buttons :business_holiday_state, @item.class.business_holiday_state_options, :class => 'states' %>
      &nbsp;&nbsp;&nbsp;&nbsp;見出しタイトル：<%= f.text_field :business_holiday_title, :class => 'name' %></td>
  </tr><tr>
    <th><%= f.label :sort_no %></th>
    <td><%= f.text_field :sort_no, :class => 'name', :style => 'ime-mode: disabled;' %></td>
  </tr>
</table>

<%= creator_form f %>
