<%= init_ckeditor readOnly: true %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :url %></th>
    <td><%= @item.url %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :summary %></th>
    <td><%= text_area_tag :summary, @item.summary, class: 'ckeditor' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%= text_area_tag :description, @item.description, class: 'ckeditor' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :business_hours_state %></th>
    <td><%= @item.business_hours_state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :business_holiday_state %></th>
    <td><%= @item.business_holiday_state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<%= creator_view @item %>
