<title><%= Page.window_title %></title>
<%= Page.layout.head_tag(request) %>
<%- if Page.current_item.try(:respond_to?, :meta_description) && (meta_description = Page.current_item.meta_description).present? -%>
<meta name="description" content="<%= meta_description.gsub(/(\r\n|\r|\n)/, ' ') %>" />
<%- end -%>
<%- if Page.current_item.try(:respond_to?, :meta_keywords) && (meta_keywords = Page.current_item.meta_keywords).present? -%>
<meta name="keywords" content="<%= meta_keywords %>" />
<%- end -%>
<%= og_tags(Page.current_item) %>

<%= stylesheet_link_tag '/_common/js/flatpickr/themes/light.min.css' %>
<%= stylesheet_link_tag '/_common/js/flatpickr/themes/ja.css' %>
<%= javascript_include_tag '/_common/js/flatpickr/flatpickr.min.js' %>
<%= javascript_include_tag '/_common/js/flatpickr/l10n/ja.js' %>
<%= javascript_include_tag '/_common/js/bowser.min.js' %>
