<!DOCTYPE html>
<html lang="<%= Page.lang %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= Page.window_title %></title>
  <%= Page.layout.head_tag(request) %>
  <%= render 'layouts/public/header' %>
  <%= stylesheet_link_tag '/_common/themes/admin/preview.css' if Core.mode == 'preview' %>
</head>
<body <%= Page.body_id %> <%= Page.body_class %>>
  <%= yield %>
</body>
</html>
