<%= render 'shared/admin/piece/show' do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :in_category_type_ids %></th>
    <td><%= @item.category_types.map(&:title).join(', ') %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :operator_type %></th>
    <td><%= @item.operator_type_text %></td>
  </tr>
</table>
<%- end -%>
