<table class="show">
  <tr>
    <th><%= GpCategory::Piece::RecentTabXml.human_attribute_name(:name) %> <span class="note">※</span></th>
    <td><%= f.text_field :name, class: 'id' %></td>
  </tr>
  <tr>
    <th><%= GpCategory::Piece::RecentTabXml.human_attribute_name(:title) %> <span class="note">※</span></th>
    <td><%= f.text_field :title, class: 'title' %></td>
  </tr>
  <tr>
    <th><%= GpCategory::Piece::RecentTabXml.human_attribute_name(:more) %></th>
    <td><%= f.text_field :more, class: 'title' %></td>
  </tr>
  <tr>
    <th><%= GpCategory::Piece::RecentTabXml.human_attribute_name(:sort_no) %> <span class="note">※</span></th>
    <td><%= f.text_field :sort_no, class: 'number' %></td>
  </tr>
</table>

<p class="form">条件</p>

<table class="show">
  <tr>
    <th><%= GpArticle::Piece::RecentTabXml.human_attribute_name(:condition) %></td>
    <td><%= f.collection_radio_buttons :condition, @item.class::CONDITION_OPTIONS, :last, :first %></td>
  </tr>
  <tr>
    <th>表示カテゴリ</th>
    <td>
      <%- category_sets = @item.categories_with_layer.presence || [{ layer: 'descendants' }] -%>
      <%= render 'category_sets', f: f, category_sets: category_sets %>
    </td>
  </tr>
</table>
