<table class="show">
  <%- if Core.user.root? -%>
  <tr>
    <th><%= @item.locale(:admin_creatable) %></th>
    <td><%= f.radio_buttons :admin_creatable, {'許可する' => true, '許可しない' => false} %></td>
  </tr><tr>
    <th><%= @item.locale(:site_creatable) %></th>
    <td><%= f.radio_buttons :site_creatable, {'許可する' => true, '許可しない' => false} %></td>
  </tr>
  <%- end -%>
  <tr>
    <th><%= @item.locale(:in_group_id) %></th>
    <td><%= f.select :in_group_id, Core.site.groups_for_option, include_blank: true %></td>
  </tr><tr>
    <th><%= @item.locale(:account) %></th>
    <td><%= f.text_field :account, :class => 'id' %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= f.text_field :name, :class => 'name' %></td>
  </tr><tr>
    <th><%= @item.locale(:name_en) %></th>
    <td><%= f.text_field :name_en, :class => 'nameEn' %></td>
  </tr><tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= f.text_field :email, :class => 'email' %></td>
  </tr><tr>
    <th><%= @item.locale(:state) %></th>
    <td>
      <%- if @item.root? -%>
        <%= @item.status.name %>
      <%- else -%>
        <%= f.radio_buttons :state, @item.states, :class => 'status' %>
      <%- end -%>
    </td>
  </tr><tr>
    <th><%= @item.locale(:auth_no) %></th>
    <td>
      <%- if @item.root? -%>
        <%= @item.auth_name %>
      <%- else -%>
        <%- if Core.user.root? || Core.user.admin_creatable? || Core.user == @item -%>
          <%= f.radio_buttons :auth_no, @item.authes, :class => 'status' %>
        <%- else -%>
          <%- if @item.has_auth?(:manager) -%>
            <%- if @item.admin_creatable? -%>
              <%= @item.auth_name %>
            <%- else -%>
              <%= f.radio_buttons :auth_no, @item.authes, :class => 'status' %>
            <%- end -%>
          <%- else -%>
            <%= f.radio_buttons :auth_no, @item.authes_exclude_admin, :class => 'status' %>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr><tr>
    <th><%= @item.locale(:role_name) %></th>
    <td><%= render 'sys/admin/_partial/role_names/form', f: f, item: @item %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th><%= @item.locale(:password) %></th>
    <td><%= f.text_field :password, :class => 'id' %></td>
  </tr>
</table>
