<table class="show">
  <%- @item.users_groups.build if @item.users_groups.blank? -%>
  <%= f.fields_for :users_groups do |f2| %>
  <tr>
    <th><%= f2.label :group_id %></th>
    <td><%= f2.select :group_id, f2.object.class.group_options(Core.site), include_blank: true %></td>
  </tr>
  <%- end -%>
  <tr>
    <th><%= f.label :account %></th>
    <td><%= f.text_field :account, class: 'id' %></td>
  </tr><tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr><tr>
    <th><%= f.label :name_en %></th>
    <td><%= f.text_field :name_en, class: 'nameEn' %></td>
  </tr><tr>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email, class: 'email' %></td>
  </tr><tr>
    <th><%= f.label :state %></th>
    <td>
      <%- if @item.root? -%>
        <%= @item.state_text %>
      <%- else -%>
        <%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %>
      <%- end -%>
    </td>
  </tr><tr>
    <th><%= f.label :auth_no %></th>
    <td>
      <%- if @item.root? -%>
        <%= @item.auth_no_text %>
      <%- else -%>
        <%- if Core.user.root? || Core.user.admin_creatable? || Core.user == @item -%>
          <%= f.collection_radio_buttons :auth_no, @item.class.auth_no_options, :last, :first %>
        <%- else -%>
          <%- if @item.has_auth?(:manager) -%>
            <%- if @item.admin_creatable? -%>
              <%= @item.auth_no_text %>
            <%- else -%>
              <%= f.collection_radio_buttons :auth_no, @item.class.auth_no_options, :last, :first %>
            <%- end -%>
          <%- else -%>
            <%= f.collection_radio_buttons :auth_no, @item.class.auth_no_options(except: 5), :last, :first %>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <%- if Core.user.root? -%>
      <table id="auth_extra_settings" class="noDesign" style="margin-top: 10px; <%= 'display: none;' if @item.auth_no != 5 %>">
        <tr>
          <td><%= f.label :admin_creatable %></td>
          <td><%= f.collection_radio_buttons :admin_creatable, @item.class.admin_creatable_options, :last, :first %></td>
        </tr>
      </table>
      <%- end -%>
    </td>
  </tr><tr>
    <th><%= f.label :role_name %></th>
    <td><%= render 'sys/admin/_partial/role_names/form', f: f, item: @item %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th><%= f.label :password %></th>
    <td>
      <%= f.text_field :password, class: 'id' %>
      <span style="margin-left: 10px;"><%= button_tag 'ランダムパスワード設定', type: 'button', id: 'genRandomPass' %></span>
    </td>
  </tr>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $('input[name="item[auth_no]"]').on('change', function() {
    if ($(this).val() == '5') {
      $('#auth_extra_settings').show();
    } else {
      $('#auth_extra_settings').hide();
    }
  });
  $('#genRandomPass').on('click', function() {
    var str = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'.split('');
    var pass = '';
    for (var i=0; i<8; i++) {
      pass += str[Math.floor(Math.random() * str.length)];
    }
    $('#item_password').val(pass);
  });
});
</script>
