<table class="show">
  <tr>
    <th><%= Sys::UsersGroup.human_attribute_name :group_id %></th>
    <td><%= @item.group.try!(:name) %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :account %></th>
    <td><%= @item.account %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name_en %></th>
    <td><%= @item.name_en %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :email %></th>
    <td><%= @item.email %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :auth_no %></th>
    <td>
      <%= @item.auth_name %>
      <%- if Core.user.root? && @item.auth_no == 5 -%>
      <table class="noDesign" style="margin-top: 10px;">
        <tr>
          <td><%= @item.class.human_attribute_name :admin_creatable %></td>
          <td><%= @item.admin_creatable_text %></td>
        </tr>
      </table>
      <%- end -%>
    </td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :role_name %></th>
    <td><%= @item.role_names.map(&:title).join('，') %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :password %></th>
    <td><%= @item.editable? ? @item.password : '*'*10 %></td>
  </tr>
</table>
