<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= f.radio_buttons :state, @item.states, :class => 'states' %></td>
  </tr>
  <%= concept_form f %>
  <tr>
    <th><%= @item.class.human_attribute_name :content_id %></th>
    <td><%= f.select :content_id, @contents, {} %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :model %></th>
    <td><%= f.select :model, @models, :include_blank => "" %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= f.text_field :name, :class => 'id' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= f.text_field :title, :class => 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :view_title %></th>
    <td><%= f.text_field :view_title, :class => 'name' %></td>
  </tr>
</table>

<%= creator_form f %>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('#item_concept_id').on('change', function() {
    $.get('<%= url_for(action: :content_options) %>', { concept_id: $(this).val() }, function(html) {
      $('#item_content_id').html(html);
    });
    $.get('<%= url_for(action: :model_options) %>', function(html) {
      $('#item_model').html(html);
    });
  });
  $('#item_content_id').on('change', function() {
    $.get('<%= url_for(action: :model_options) %>', { content_id: $(this).val() }, function(html) {
      $('#item_model').html(html);
    });
  });
});
//]]>
</script>
