<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">詳細</th>
    <th style="width: 20%;"><%= Cms::Piece.human_attribute_name :name %></th>
    <th style="width: ;"><%= Cms::Piece.human_attribute_name :title %></th>
    <th style="width: 25%;"><%= Cms::Piece.human_attribute_name :model %></th>
    <th style="width: 120px; text-align: center;">更新日時</th>
    <th style="width: 60px; text-align: center;">状態</th>
    <th style="width: 80px; text-align: center;">プレビュー</th>
  </tr>

  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to :show, item.admin_uri %></td>
    <td><%= item.name %></td>
    <td><%= item.title %><%= " （更新用）" if item.related_objects_for_replace.present? %></td>
    <td><%= item.module_name %></td>
    <td style="text-align: center;"><%=l item.updated_at %></td>
    <td style="text-align: center;"><%= item.state_text %></td>
    <td style="text-align: center;"><%= link_to '表示', cms_piece_path(item.id, concept: item.concept_id, do: :preview) %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
