<h2><%= menu_header @content.name, GpTemplate::Template.model_name.human %></h2>

<div class="actionMenu">
<%- case action_name -%>
<%- when 'index' -%>
  <%= link_to :new, { action: :new } if Core.user.has_auth?(:designer) && Core.user.has_priv?(:create, item: Core.concept) %>
<%- when 'show' -%>
  <%= link_to :index, { action: :index } %>
  <span class="separator"></span>
  <%= link_to :edit, { action: :edit } if @item.editable? %>
  <%= link_to :destroy, { action: :destroy }, method: :delete, confirm: '削除してよろしいですか？' if @item.deletable? %>
  <%= link_to :duplicate, { do: :duplicate }, confirm: '複製してよろしいですか？' if Core.user.has_priv?(:create, item: Core.concept) %>
<%- when 'new', 'create' -%>
  <%= link_to :index, { action: :index } %>
<%- when 'edit', 'update' -%>
  <%= link_to :index, { action: :index } %>
  <span class="separator"></span>
  <%= link_to :show, { action: :show } %>
<%- end -%>
</div>
