<h3 class="month <%= @calendar.month_name.downcase %>">
  <%= link_to "#{@calendar.year}年#{@calendar.month}月", "#{@node.public_uri}#{@date.strftime('%Y/%m/')}" %>
</h3>

<%= @calendar.to_html %>

<div class="links">
  <%- if @node && @pagination -%>
  <%= @pagination.to_links(class: 'pagination lowerPagination') %>
  <%- end -%>
</div>

<script>
$(function() {
  var piece = $('#<%= @piece.css_id %>');

  piece.find('div.links').find('a.prev_page, a.current_page, a.next_page').on('click', function(e) {
    e.preventDefault();
    $.get($(this).attr('href'), function(data) {
      piece.replaceWith(data);
    });
  });
});
</script>
