<div class="calendarEvents calendarTodayEvents">
  <h2 class="today">
    <span class="date"><%= @today.strftime("%Y年%-m月%-d日(#{localize_wday('%a', @today.wday)})") %></span>
  </h2>

  <%- @holidays.each do |holiday| -%>
  <div class="<%= holiday.kind %>">
  <p class="title"><%= holiday.title %></p>
  <p class="summary"><%= holiday.description %></p>
  </div>
  <%- end -%>

  <%- unless @events.empty? -%>
    <table border="1">
      <thead>
        <tr>
        <%- @content.today_list_style.each do |header| -%>
          <th><%= header[:header].html_safe %></th>
        <%- end -%>
        </tr>
      </thead>
      <tbody>
        <%- @events.each do |event| -%>
          <%= event_table_replace(event, @date, @content.today_list_style, @content.date_style) %>
        <%- end -%>
      </tbody>
    </table>
  <%- else -%>
    本日のイベントはありません。
  <%- end -%>
<!-- end .calendarEvents --></div>
