<span class="note">※は必須項目です。</span>

<table class="show">
  <tr>
    <th><%= f.label :state %></th>
    <td colspan="2"><%= f.collection_radio_buttons :state, @item.class.state_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :periods %></th>
    <td colspan="2">
      <div id="event_periods">
        <%- @item.periods.build if @item.periods.blank? -%>
        <%= f.fields_for :periods do |f2| %>
          <div class="event_period" style="margin: 5px 0;">
            <%= f2.text_field :started_on, value: l(f2.object.started_on), style: 'width: 150px;', class: 'datepicker' %>
            <span>～</span>
            <%= f2.text_field :ended_on, value: l(f2.object.ended_on), style: 'width: 150px;', class: 'datepicker' %>
          </div>
        <%- end -%>
      </div>
      <button type="button" id="add_event_period">追加</button>
    </td>
  </tr>
  <tr>
    <th><%= f.label :title %> <span class="note">※</span></th>
    <td colspan="2"><%= f.text_field :title, style: 'width: 700px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :href %></th>
    <td><%= f.text_field :href, style: 'width: 500px;' %></td>
    <td><%= f.collection_radio_buttons :target, @item.class.target_options, :last, :first %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td colspan="2"><%= f.text_area :description, size: '100x3', style: 'width: 700px;' %></td>
  </tr>
  <tr>
    <th><%= f.label :note %></th>
    <td colspan="2"><%= f.text_area :note, size: '100x3', style: 'width: 700px;' %></td>
  </tr>
</table>

<%- if @content.category_types.present? -%>
<%= render 'gp_category/admin/_partial/categories/form', f: f, item: @item, category_types: @content.category_types %>
<%- end -%>

<%= render 'sys/admin/_partial/files/form', f: f, item: @item, content: @content %>

<%= creator_form f %>

<script type="text/javascript">
$(function() {
  $('input.datepicker').datepicker();

  $("#add_event_period").addFields({
    container: "#event_periods",
    fields: ".event_period",
    cloneEvents: false,
    afterAdd: function(elem) {
      elem.find('input.datepicker')
          .removeClass('hasDatepicker')
          .datepicker();
    }
  });

  $(document).on('change', '#event_periods input.datepicker', function(e) {
    var from = $(this);
    var toID = from.attr('id');
    if (toID.match(/_started_on$/)) {
      toID = toID.replace(/_started_on$/, '_ended_on')
    } else {
      toID = toID.replace(/_ended_on$/, '_started_on');
    }

    var to = $('#' + toID);
    if (to.val() === '') { to.val($(from).val()); }
  });
});
</script>
