<h2><%= menu_header @content.name, GpCalendar::Event.model_name.human %></h2>

<div class="actionMenu">
<%- case action_name -%>
<%- when 'index' -%>
  <%= link_to '新規作成', { action: :new } %>
<%- when 'show' -%>
  <%= link_to "#{GpCalendar::Event.model_name.human}一覧", { action: :index } %>
  <span class="separator"></span>
  <%= link_to '編集', { action: :edit } if @item.try(:editable?) %>
  <%= link_to '削除', { action: :destroy }, method: :delete, confirm: '削除してよろしいですか？' if @item.try(:deletable?) %>
<%- when 'new', 'create' -%>
  <%= link_to "#{GpCalendar::Event.model_name.human}一覧", { action: :index } %>
<%- when 'edit', 'update' -%>
  <%= link_to "#{GpCalendar::Event.model_name.human}一覧", { action: :index } %>
  <span class="separator"></span>
  <%= link_to '詳細', { action: :show } %>
<%- end -%>
</div>
