<%= render 'search' %>

<%= page_entries_info @items -%>

<table class="index">
  <tr>
    <th class="action_link">詳細</th>
    <th style="text-align: center; width: 60px;"><%= sort_link GpCalendar::Event.human_attribute_name(:id), sort_key: 'id' %></th>
    <th style="width: 200px;"><%= sort_link GpCalendar::Event.human_attribute_name(:periods), sort_key: 'min_started_on', default: :desc %></th>
    <th><%= sort_link GpCalendar::Event.human_attribute_name(:title), sort_key: 'title' %></th>
    <th style="text-align: center; width: 120px;"><%= sort_link GpCalendar::Event.human_attribute_name(:created_at), sort_key: 'created_at', default: :desc %></th>
    <th style="text-align: center; width: 60px;"><%= sort_link GpCalendar::Event.human_attribute_name(:state), sort_key: 'state' %></th>
  </tr>

  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td class="action_link"><%= link_to :show, { action: :show, id: item } %></td>
    <td style="text-align: center;"><%= item.id %></td>
    <td>
      <%- if period = item.periods.first -%>
        <%= display_short_period(period) %>
        <%- if item.periods.size > 1 -%>
        <span title="<%= item.periods[1..-1].map { |period| display_short_period(period) }.join(', ') %>">...</span>
        <%- end -%>
      <%- end -%>
    </td>
    <td style="text-align: left;"><%= item.title %></td>
    <td style="text-align: center;"><%=l item.created_at %></td>
    <td style="text-align: center;"><%= item.state_text %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items -%>
