<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.state_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :started_on %></th>
    <td><%=i18n_l @item.started_on %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :ended_on %></th>
    <td><%=i18n_l @item.ended_on %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :href %></th>
    <td>
      <%= link_to @item.href, @item.href, target: '_blank' %>
      <%- if @item.href.present? -%>
      <span style="margin-left: 10px;"><%= @item.class::TARGET_OPTIONS.detect{|to| to.last == @item.target }.try(:first) %></span>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :description %></th>
    <td><%=simple_format @item.description %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :note %></th>
    <td><%=simple_format @item.note %></td>
  </tr>
</table>

<%- if @item.categories.present? -%>
<table class="show">
  <tr>
    <th><%= GpCategory::Category.model_name.human %></th>
    <td><%= @item.categories.map(&:title).join(', ') %></td>
  </tr>
</table>
<%- end -%>

<%- if @item.files.present? -%>
<%= render 'sys/admin/_partial/files/view', item: @item, content: @content %>
<%- end -%>

<%- if @content.event_sync_import? -%>
<p class="form">同期元情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_host %></th>
    <td><%= @item.sync_source_host %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_content_id %></th>
    <td><%= @item.sync_source_content_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_id %></th>
    <td><%= @item.sync_source_id %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :sync_source_source_class %></th>
    <td><%= @item.sync_source_source_class.constantize.model_name.human rescue nil %></td>
  </tr>
</table>
<%- end -%>

<%- if @content.event_sync_export? -%>
<p class="form">カレンダー同期</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :will_sync %></th>
    <td><%= @item.will_sync_text %></td>
  </tr>
</table>
<%- end -%>

<%= creator_view @item %>
