<%= init_ckeditor baseHref: "#{gp_article_doc_path(@content, @item.id.to_i)}/" %>
<script type="text/javascript">
$(document).ready(function () {
  $('#tabs').tabs({
    active: 0,
    show: function (event, ui) {
      if ((typeof map) !== 'undefined' && map) {
        google.maps.event.trigger(map, 'resize');
        var lat = $('#centerDispLat').val();
        var lng = $('#centerDispLat').val();
        if (lat && lng) {
          map.setCenter(new google.maps.LatLng($('#centerDispLat').val(), $('#centerDispLng').val()));
        }
      }
    }
  });
});
</script>

<span class="note">※は必須項目です。</span>

<div id="tabs" class="tabs">
  <ul>
    <li><a href="#tab1">記事</a></li>
    <li><a href="#tab2">公開日</a></li>
    <li style="<%= 'display: none;' unless @content.inquiry_related? %>"><a href="#tab3">連絡先</a></li>
    <li style="<%= 'display: none;' unless @content.approval_related? %>"><a href="#tab4">承認</a></li>
    <li style="<%= 'display: none;' unless @content.calendar_related? %>"><a href="#tab5">イベント</a></li>
    <li style="display: none;"><a href="#tab6">地図</a></li>
    <li><a href="#tab7">携帯</a></li>
    <li><a href="#tab8">オプション</a></li>
  </ul>

  <div id="tab1">
    <%= render 'gp_article/admin/docs/form/base', f: f %>
  </div>
  <div id="tab2">
    <%= render 'gp_article/admin/docs/form/date', f: f %>
  </div>
  <div id="tab3">
    <%= render 'cms/admin/_partial/inquiries/form', f: f, item: @item, content: @content %>
  </div>
  <div id="tab4">
    <%= render 'approval/admin/_partial/form', f: f, item: @item, content: @content %>
  </div>
  <div id="tab5">
    <%= render 'gp_article/admin/docs/form/event', f: f %>
  </div>
  <div id="tab6">
    <%= render 'gp_article/admin/docs/form/map', f: f %>
  </div>
  <div id="tab7">
    <%= render 'gp_article/admin/docs/form/mobile', f: f %>
  </div>
  <div id="tab8">
    <%= render 'gp_article/admin/docs/form/option', f: f %>
  </div>
</div>

<script type="text/javascript">
<%= toggle_form_function %>
$(document).ready(function () {
  <%= disable_enter_script -%>
  $('input.datepicker').datepicker();
  $('input.datetimepicker').datetimepicker();
});
</script>

<script type="text/javascript">
$(document).ready(function () {
  function set_click_event_handler(category_type_id, prefix) {
    if (prefix === undefined) { prefix = ''; }
    var wrapper = $('#' + prefix + 'category_type_' + category_type_id + '_categories');
    wrapper.find('.add_category').on('click', function () {
      var new_category = wrapper.children(':first-child').clone(true);
      new_category.find('option').removeAttr('selected');
      new_category.insertBefore(wrapper.children(':last-child'));
    });
  }

  <%- @content.visible_category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>');
  <%- end -%>
  <%- @content.event_category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>', 'event_');
  <%- end -%>
  <%- @content.marker_category_types.each do |category_type| -%>
  set_click_event_handler('<%= category_type.id %>', 'marker_');
  <%- end -%>
});
</script>
