<%= form_tag '', method: 'get', class: 'search' do -%>
<%= hidden_field_tag :target, params[:target] if params[:target].present? %>
<%= hidden_field_tag :target_state, params[:target_state] if params[:target_state].present? %>
<%= hidden_field_tag :target_public, params[:target_public] if params[:target_public].present? %>
<table>
  <tr>
    <th><%= GpArticle::Doc.human_attribute_name :title %>・<%= GpArticle::Doc.human_attribute_name :body %></th>
    <th>所属</th>
    <th>作成者</th>
    <td rowspan="2" class="submitters">
      <%= submit_tag '検索' %>
      <%= submit_tag 'リセット', name: 'reset_criteria' %>
    </td>
  </tr>
  <tr>
    <td><%= text_field_tag 'criteria[free_word]', params.dig(:criteria, :free_word), style: 'width: 400px;' %></td>
    <td><%-
          belongings = Cms::SiteBelonging.arel_table
          groups = Sys::Group.joins(:site_belongings).where(parent_id: 1).where(belongings[:site_id].eq(Core.site.id))
          options = groups.inject([]){|r, c| r.concat(c.descendants_for_option) }
        -%>
        <%= select_tag 'criteria[group_id]',
                       options_for_select(options, params.dig(:criteria, :group_id)), include_blank: true %></td>
    <td><%= text_field_tag 'criteria[user]', params.dig(:criteria, :user), style: 'width: 150px;' %></td>
  </tr>
</table>
<%- end -%>
