<p class="form">辞書データ</p>

<table class="show">
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, :class => 'string' %></td>
  </tr><tr>
    <th><%= f.label :body %></th>
    <td><%= f.text_area :body, :class => 'string body' %></td>
  </tr>
</table>

<%= creator_form f %>
