<%
blank = defined?(includ_blank) && includ_blank == false ? false : true
%>
  <tr>
    <th><%= f.label :concept_id, 'コンセプト' %></th>
    <td><%= f.select :concept_id, Core.site.public_concepts_for_option, include_blank: blank %></td>
  </tr>
<%- if defined?(layout) && layout == true -%>
  <%
    layouts = if concept = (@item.respond_to?(:inherited_concept) && @item.inherited_concept) ||
                           (@parent.respond_to?(:inherited_concept) && @parent.inherited_concept) ||
                           (@item.respond_to?(:concept) && @item.concept)
                concept.ancestors.map { |c| c.layouts.preload(:concept) }.flatten
                       .map { |l| [l.concept_name_and_title, l.id] }
              else
                []
              end
  %>
  <tr>
    <th><%= f.label :layout_id, 'レイアウト' %></th>
    <td><%= f.select :layout_id, layouts, include_blank: '　　　　' %></td>
  </tr>
  <%- if defined?(more) && more -%>
  <tr>
    <th><%= f.label :more_layout_id, '一覧レイアウト' %></th>
    <td><%= f.select :more_layout_id, layouts, include_blank: '　　　　' %></td>
  </tr>
  <%- end -%>
  <script>
  $(function() {
    $('#item_concept_id').on('change', function() {
      $.get('<%= main_app.layouts_cms_concepts_path(0) %>', { concept_id: $(this).val() }, function(data) {
        $('#item_layout_id').html(data);
        $('#item_more_layout_id').html(data);
      });
    });
  });
  </script>
<%- end -%>
