<%= render 'menu' %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :title %></th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :alt_text %></th>
    <td><%= @item.alt_text %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :created_at %></th>
    <td><%=l @item.created_at %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :size %></th>
    <td><%= @item.eng_unit %><br /><%= @item.image_size if @item.image_file? %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :mime_type %></th>
    <td><%= @item.mime_type %></td>
  </tr>
</table>
