<div class="navi">
  <%= select_tag :directory, options_for_select(@root_dirs, selected: @root_dir), id: "naviPath" %>
  <%-
  dirs = (@current || @parent).path_from_site_root.split('/')
  dirs = dirs.drop(1).map.with_index do |n, idx|
    [n, dirs.slice(0, idx + 2).join("/")]
  end
  -%>
  <%- dirs.each do |n, p| -%>
  <span class="separator">&gt;</span> <%= link_to n, { path: p } %>
  <%- end -%>
</div>

<%= javascript_tag do %>
// change root directory
$(function(){
  $('#naviPath').change(function(){
    location.href = '<%= sys_storage_files_path.gsub(/\?.*/, '') %>/' + $(this).val();
  });
});
<% end %>

<div class="actionMenu">
<%- case @do -%>
<%- when 'index' -%>
  <%= link_to '上へ', { path: @parent.path_from_site_root } unless @parent.site_root_path? %>
  <%- if @item.creatable? -%>
  <a href="#" id="newDir">新規ディレクトリ</a>
  <a href="#" id="newFile">新規ファイル</a>
  <a href="#" id="newUpload">アップロード</a>
  <%- end -%>
<%- when 'show' -%>
  <%= link_to :index, { path: @parent.path_from_site_root } %>
  <%= link_to :edit, { path: @item.path_from_site_root, do: :edit } if @item.editable? && @item.text_file? %>
  <%= link_to :destroy, { path: @item.path_from_site_root, do: :destroy }, confirm: '削除してよろしいですか？' if @item.deletable? %>
<%- when 'edit', 'update' -%>
  <%= link_to :index, { path: @parent.path_from_site_root } %>
  <%= link_to :show, { path: @item.path_from_site_root, do: :show } %>
<%- end -%>
</div>
