<style type="text/css">
#newForm table {
  margin: 10px 0px;
  border: 1px solid #ccc;
  background-color: #e5e7e5;
}
#newForm table th {
  padding: 12px 5px 12px 10px;
}
#newForm table td {
  padding: 12px 10px;
}
</style>
<%= javascript_tag do %>
$(function(){
  $('a#newDir').click(function(){
    var html = $('#newForm table.dir').length ? '' : $('#newDirTemplate').html();
    $('#newForm').html(html);
    return false;
  });
  $('a#newFile').click(function(){
    var html = $('#newForm table.file').length ? '' : $('#newFileTemplate').html();
    $('#newForm').html(html);
    return false;
  });
  $('a#newUpload').click(function(){
    var html = $('#newForm table.upload').length ? '' : $('#newUploadTemplate').html();
    $('#newForm').html(html);
    $('#newForm [id=upload_overwrite]').attr('id', "upload_overwrite_check");
    $('#newForm [for=upload_overwrite]').attr('for', "upload_overwrite_check");
    $('#newForm [id=open_zip]').attr('id', "open_zip_check");
    $('#newForm [for=open_zip]').attr('for', "open_zip_check");
    $('#newForm #sizeError').attr('id', "sizeErrorMsg");

    $("#newForm input[type=file]").on('change', function () {
      var files = $("#newForm input[type=file]")[0].files;
      var length = files.length;
      var total_size = 0;
      if (length > 0) {
        for (var i = 0; i < length; i++) {
          total_size = total_size + files[i].size;
        }
        if (total_size > 104857600) {
          msg = "選択したファイルの合計サイズが容量制限を超えています。<br />一度にアップロードできる合計ファイルサイズは100MBまでです。";
          $("#sizeErrorMsg").html(msg);
          $('#newForm [type=submit]').prop('disabled', true);
        } else {
          $("#sizeErrorMsg").html('');
          $('#newForm [type=submit]').prop('disabled', false);
        }
      }
      return false;
    });

    return false;
  });

<%- if params.dig(:item, :new_directory).present? -%>
  $('a#newDir').click();
<%- end -%>
<%- if params.dig(:item, :new_file).present? -%>
  $('a#newFile').click();
<%- end -%>
});
<% end %>

<%= form_for :item, :url => "#" do |f| %>
<div id="newDirTemplate" style="display: none;">
  <table class="dir">
    <tr>
      <th>ディレクトリ名</th>
      <td><input class="nameEn" name="item[new_directory]" size="40" type="text" value="<%= params.dig(:item, :new_directory) %>" /></td>
      <td><input type="submit" name="create_directory" value="作成する" /></td>
    </tr>
  </table>
</div>
<div id="newFileTemplate" style="display: none;">
  <table class="file">
    <tr>
      <th>ファイル名</th>
      <td><input class="nameEn" name="item[new_file]" size="40" type="text" value="<%= params.dig(:item, :new_file) %>" /></td>
      <td><input type="submit" name="create_file" value="作成する" /></td>
    </tr>
  </table>
</div>
<div id="newUploadTemplate" style="display: none;">
  <div id="sizeError" class="alert"></div>
  <table class="upload">
    <tr>
      <th>アップロード</th>
      <td><%= file_field_tag 'item[new_upload][]', id: 'files', multiple: true, required: true, style: 'width: 500px;' %></td>
      <td>
        <input type="submit" name="upload_file" value="アップロード" />
        <div>
          <p>
            <input id="upload_overwrite" type="checkbox" name="item[upload_overwrite]" value="upload_overwrite">
            <label for="upload_overwrite">上書き保存を認める</label>
          </p>
          <p>
            <input id="open_zip" type="checkbox" value="skip" name="item[open_zip]">
            <label for="open_zip">ZIPファイルを展開しない</label>
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>
<% end %>

<%= form_for :item, url: "", html: { method: :post, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <%- if @results && @results.size > 0 -%>
  <div class="notice">
    <%= "#{@results.size}" -%>件のファイルをアップロードしました。<br />
    <ul style="list-style-type: square;">
    <%- @results.each do |res| -%>
      <li><%= res[:name] -%>：<span style="<%= "color: red;" if res[:status] == 'NG' %>"><%= res[:msg] -%></span></li>
    <%- end -%></ul>
  </div>
  <%- end -%>

  <%- if @unzip_results && @unzip_results.size > 0 -%>
  <div class="notice">
    <%= "#{@unzip_results.size}" -%>件のZIPファイルを展開してアップロードしました。<br />
    <%- @unzip_results.each do |zip| -%>
      ▼<%= zip[:name] -%>：ZIPファイルを展開してアップロードします。<br />
      <%- if zip[:results].size > 0 -%>
        <ul style="list-style-type: square;">
          <%- zip[:results].each do |res| -%>
            <li><%= res[:name] -%>：<span style="<%= "color: red;" if res[:status] == 'NG' %>"><%= res[:msg] -%></span></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </div>
  <%- end -%>

  <div id="newForm"></div>
<% end %>
