<%= render 'shared/admin/piece/form', f: f do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= f.label :list_count %></th>
    <td><%= f.array_text_field 'in_settings[list_count]', class: 'number' %></td>
  </tr>
  <tr>
    <th><%= f.label :docs_order %></th>
    <td><%= f.array_select 'in_settings[docs_order]', @item.class::DOCS_ORDER_OPTIONS %></td>
  </tr>
  <tr>
    <th><%= f.label :page_filter %></th>
    <td><%= f.array_radio_buttons 'in_settings[page_filter]', @item.class::PAGE_FILTER_OPTIONS %></td>
  </tr>
  <tr>
    <th>表示カテゴリ</th>
    <td>
      <%- if (category_content = @item.content.category_content) -%>
        <%= render 'categories', f: f, category_content: category_content %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= f.label :doc_style %></th>
    <td>
      <%= link_to '置き換えテキストを確認する', '#', class: 'show_dialog' %>
      <%= f.array_text_area 'in_settings[doc_style]', size: '100x10' %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :date_style %></th>
    <td><%= f.array_text_field 'in_settings[date_style]', size: 50 %> 年：%Y 月：%m 日：%d 時：%H 分：%M 秒：%S</td>
  </tr>
</table>
<%- end -%>

<%= render 'gp_article/admin/shared/doc_style_tags' %>

<%= javascript_tag do -%>
$(document).ready(function () {
  $('a.show_dialog').on('click', function() {
    $('#doc_style_tags').dialog({width: 400});
    return false;
  });
});
<%- end -%>
