<%= render 'shared/admin/piece/show' do -%>
<p class="form">詳細設定</p>

<table class="show">
  <tr>
    <th><%= @item.locale :list_count %></th>
    <td><%= @item.setting_value(:list_count) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :docs_order %></th>
    <td><%= @item.class::DOCS_ORDER_OPTIONS.detect{|o| o.last == @item.setting_value(:docs_order) }.try(:first) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :page_filter %></th>
    <td><%= @item.class::PAGE_FILTER_OPTIONS.detect{|o| o.last == @item.setting_value(:page_filter) }.try(:first) %></td>
  </tr>
  <tr>
    <th>表示カテゴリ</th>
    <td>
      <%- if (category_content = @piece.content.category_content) -%>
        <table class="show">
          <%- category_content.category_types.each do |category_type| -%>
          <tr>
            <th><%= category_type.title %></th>
            <td><%= @item.categories.where(category_type_id: category_type.id).pluck(:title).join(', ') %></td>
          </tr>
          <%- end -%>
        </table>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= @item.locale :doc_style %></th>
    <td><%=simple_format @item.setting_value(:doc_style) %></td>
  </tr>
  <tr>
    <th><%= @item.locale :date_style %></th>
    <td><%= @item.setting_value(:date_style) %></td>
  </tr>
</table>
<%- end -%>
