<%-
map = item.maps.first || item.maps.build(name: '1')
default_position = item.default_map_position.split(/[ ]*,[ ]*/)
map_lat  = map.map_lat.presence || default_position[0]
map_lng  = map.map_lng.presence || default_position[1]
map_zoom = map.map_zoom.presence || 14
markers = map.markers
google_api = request.ssl? ? "https://maps-api-ssl.google.com/maps/api/js?region=jp" : "http://maps.google.com/maps/api/js?region=jp"
api_key = item.content.site.google_map_api_key
google_api = google_api + "&key=#{api_key}" if api_key.present?
-%>
<script type="text/javascript" src="<%= google_api %>"></script>
<script type="text/javascript">
//<![CDATA[

function addEvent(element, listener, func) {
  try {
    element.addEventListener(listener, func, false);
  } catch (e) {
    element.attachEvent('on' + listener, func);
  }
}

var map = null;

addEvent(window, 'load', function() {
  var mapOptions = {
    center: new google.maps.LatLng(<%= map_lat %>, <%= map_lng %>),
    zoom: <%= map_zoom %>,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scaleControl: true,
    scrollwheel: false
  };
  map = new google.maps.Map(document.getElementById("map1"), mapOptions);

  <% markers.each_with_index do |marker, idx| %>
    var marker<%= idx %> = new google.maps.Marker({
      //title: '<%= marker.name.gsub(/'/, "\\\\'") %>'
      position: new google.maps.LatLng(<%= marker.lat %>, <%= marker.lng %>),
      map: map
    });
    var infowindow<%= idx %> = new google.maps.InfoWindow({
      content: '<%= marker.name.gsub(/'/, "\\\\'").gsub(/\r\n|\r|\n/, "<br />") %>',
      disableAutoPan: false
    });
    google.maps.event.addListener(marker<%= idx %>, 'click', function() {
      infowindow<%= idx %>.open(map, marker<%= idx %>);
    });
  <% end %>
});

//]]>
</script>

<div style="padding: 5px 10px;">
  <div id="map1" style="width: 100%; height: 400px"></div>
</div>
<p class="form">マップの設定</p>
<table class="show mapForm">
  <tr>
    <th style="width: 90px;">マップ名</th>
    <td class="name"><%= map.title %></td>
  </tr><tr>
    <th style="width: 90px;">座標</th>
    <td class="point">
      <%- if map.map_lat.present? && map.map_lng.present? -%>
        <%= map.map_lat %>, <!--
        --><%= map.map_lng %>
      <%- end -%>
      <input id="centerDispLat" name="centerDispLat" type="hidden" value="<%= map.map_lat %>" />
      <input id="centerDispLng" name="centerDispLng" type="hidden" value="<%= map.map_lng %>"/>
    </td>
  </tr><tr>
    <th style="width: 90px;">縮尺</th>
    <td class="zoom">
      <%= map.map_zoom %>
    </td>
  </tr>
</table>
