<div class="contentGpArticleDocs">
  <div class="docs">
    <%- if @docs.present? -%>
      <div class="h2 date">
        <%= monthly_page_title(@current_dates, @content.doc_monthly_title_style) if @content.monthly_pagination? %>
        <%= weekly_page_title(@current_dates, @content.doc_weekly_title_style) if @content.weekly_pagination? %>
      </div>
    <%- end -%>
    <%- @items.each do |date, docs| -%>
      <%- if @content.doc_list_style == 'by_date' && @content.simple_pagination? %>
      <div class="h2 date"><%= date %></div>
      <%- end -%>
      <%- docs.each do |doc| -%>
      <div class="doc">・<%= doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %></div>
      <%- end -%>
    <%- end -%>
  </div>
  <%- if @content.simple_pagination? -%>
    <%= paginate @docs, prev_label: @content.prev_label, next_label: @content.next_label %>
  <%- else -%>
    <%= paginate_by_date Page.current_node.public_uri, @first_date, @prev_date, @next_date, page_style: @content.doc_list_pagination, prev_label: @content.prev_label, next_label: @content.next_label if @docs.present? %>
  <%- end -%>
</div>
