<div class="contentGpArticleDocs">
  <%- if @content.feed_display? -%>
  <ul class="feed">
    <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
    <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
  </ul>
  <%- end -%>
  <div class="docs">
    <%- if @content.doc_list_style == 'simple' %>
      <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
      <%- @docs.each do |doc| -%>
      <%= content_tag @content.wrapper_tag, doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %>
      <%- end -%>
      <%=raw '</ul>' if @content.wrapper_tag == 'li' %>
    <%- else -%>
      <% @items.each do |date, docs| %>
        <h2 class="date"><%= date %></h2>
        <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
        <%- docs.each do |doc| -%>
          <%= content_tag @content.wrapper_tag, doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %>
        <%- end -%>
        <%=raw '</ul>' if @content.wrapper_tag == 'li' %>
      <%- end -%>
    <%- end -%>
  </div>
  <%- if @content.simple_pagination? -%>
  <%= paginate @docs, {lang: @content.doc_list_lang} %>
  <%- else -%>
  <%= period_pagination @prev_doc, @next_doc, Page.current_node, {lang: @content.doc_list_lang} %>
  <%- end -%>
</div>
