<div class="contentGpArticleDocs">
  <%- if @content.feed_display? -%>
  <ul class="feed">
    <li><%= link_to 'RSS' , "index.rss" , :class => 'feedRss', :title => 'RSSフィードを取得' %></li>
    <li><%= link_to 'Atom', "index.atom", :class => 'feedAtom', :title => 'Atomフィードを取得' %></li>
  </ul>
  <%- end -%>
  <div class="docs">
    <%- if @docs.present? && !@content.simple_pagination? -%>
      <h2 class="date">
        <%= monthly_page_title(@page_info[:current_dates], @content.doc_monthly_title_style) if @content.monthly_pagination? %>
        <%= weekly_page_title(@page_info[:current_dates], @content.doc_weekly_title_style) if @content.weekly_pagination? %>
      </h2>
    <%- end -%>
    <%- if @content.doc_list_style == 'by_date' && @content.simple_pagination? %>
      <%- @items.each do |date, docs| -%>
        <h2 class="date"><%= date %></h2>
        <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
        <%- docs.each do |doc| -%>
          <%= content_tag @content.wrapper_tag, doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %>
        <%- end -%>
        <%=raw '</ul>' if @content.wrapper_tag == 'li' %>
      <%- end -%>
    <%- else -%>
      <%=raw '<ul>' if @content.wrapper_tag == 'li' %>
      <%- @docs.each do |doc| -%>
      <%= content_tag @content.wrapper_tag, doc_replace(doc, @content.list_style, @content.date_style, @content.time_style) %>
      <%- end -%>
      <%=raw '</ul>' if @content.wrapper_tag == 'li' %>
    <%- end -%>
  </div>
  <%- if @content.simple_pagination? -%>
    <%= paginate @docs, prev_label: @content.prev_label, next_label: @content.next_label %>
  <%- else -%>
    <%= paginate_by_date Page.current_node.public_uri, page_info: @page_info, page_style: @content.doc_list_pagination, prev_label: @content.prev_label, next_label: @content.next_label if @docs.present? %>
  <%- end -%>
</div>
