<article class="contentGpArticleDoc">
<%= render 'gp_article/public/node/docs/show/date', item: @item, content: @content %>

<div class="body">
  <%-
  body = @item.template ? template_body(@item.template, @item.template_values, @item.files) : @item.body.to_s
  body.gsub(/("|')file_contents\//, '\1'+%Q(#{Core.publish || Core.mode != 'preview' ? @item.public_uri(without_filename: true) : @item.preview_uri(without_filename: true)}file_contents/))
  -%>
  <div class="text-beginning"><%=raw body %></div>

  <%- if @content.blog_functions_available? -%>
  <%= render 'gp_article/public/node/docs/show/blog_function', item: @item, content: @content %>
  <%- end -%>
</div>

<%= render 'cms/public/_partial/maps/view', item: @item %>

<%- if @item.public_related_docs.present? -%>
<%= render 'gp_article/public/node/docs/show/rel_docs', item: @item, content: @content, rel_docs: @item.public_related_docs %>
<%- end -%>

<%- if (node = @item.content.tag_content_tag.try(:public_node)) &&
       (tags = !Core.publish && Core.mode == 'preview' ? @item.tags_for_preview : @item.tags).present? -%>
<%= render 'gp_article/public/node/docs/show/tags', tags: tags %>
<%- end -%>

<%- if @item.qrcode_visible? -%>
<%= render 'gp_article/public/node/docs/show/qrcode', item: @item, content: @content %>
<%- end -%>

<%= render 'cms/public/_partial/inquiries/view', item: @item %>
@adobe-reader-link@
<!-- end .contentGpArticleDoc --></article>
